<h2 mat-dialog-title>Share Bookmark</h2>

<hr>

<mat-dialog-content>
  <div class="share-buttons-wrapper">
    <div class="row">
      <div class="col">
        <tweet
          [url]="bookmark.location"
          [text]="bookmark.name | slice:0:140"
          [hashTags]="tagsStr"
          (click)="onShareButtonClick()">
        </tweet>
      </div>
      <div class="col">
        <fb-share [url]="bookmark.location"></fb-share>
      </div>
    </div>
  </div>


</mat-dialog-content>

<hr>

<mat-dialog-actions class="app-dialog-actions" align="end">
  <button type="button" class="btn btn-primary btn-sm" (click)="cancel()">Cancel</button>
</mat-dialog-actions>
