.extensions-table {
  margin-left: auto;
  margin-right: auto;
  th, td {
    width: 8rem;
    text-align: center;
  }
}

.identity-providers-list {
  margin-left: -2rem;
  display: flex;
  justify-content: space-between;
  list-style: none;
}
