<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>Get started</h2>
    <p class="lead">Bookmarks.dev is a bookmark manager created and designed for Developers & Co. Find out more
      at our <a href="{{environment.HOST}}/about">About</a> page.
    <p>
      Create an <strong><a type="button" title="Go To Login/Registration Form" (click)="login()"> account</a></strong>
      and
      <strong><a routerLink="/howto/save">save</a></strong> your first bookmark or <a routerLink="/howto/codelets">codelet</a> .
      You can choose to connect via <strong>email/username and password</strong>, or
      via one of the many identity providers supported
    <ul>
      <li>
        <i class="fab fa-github"></i> Github
      </li>
      <li>
        <i class="fab fa-google"></i> Google
      </li>
      <li>
        <i class="fab fa-twitter"></i> Twitter
      </li>
      <li>
        <i class="fab fa-stack-overflow"></i> StackOverflow
      </li>
      <li>
        <i class="fab fa-linkedin"></i> LinkedIn
      </li>
      <li>
        <i class="fab fa-facebook"></i> Facebook
      </li>
    </ul>

    <img class="mt-2 img-fluid" src="./assets/img/gif/save-bookmark-with-extension-1276x936.gif"
         alt="How to save and search a codelet"/>
  </div>
</div>
