<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>Get started</h2>
    <p class="lead">
      Codever is a bookmark and code snippets manager created and designed for
      Developers & Co.
    </p>

    <hr />
    <h3>Account</h3>
    <p class="mt-2">
      <button
        type="button"
        class="btn btn-outline-primary btn-sm"
        title="Go To Login/Registration Form"
        (click)="login()"
      >
        <i class="fas fa-hand-point-right"></i> Register an account
      </button>
      and save your first
      <strong><a routerLink="/howto/bookmarks">bookmark</a></strong> or
      <a routerLink="/howto/snippets">snippet</a> . You can choose to connect
      via <strong>email/username and password</strong>, or via one of the
      following identity providers supported
    </p>
    <div class="identity-providers-list">
      <ul>
        <li><i class="fab fa-github"></i> Github</li>
        <li><i class="fab fa-google"></i> Google</li>
        <li><i class="fab fa-gitlab"></i> Gitlab</li>
        <li><i class="fab fa-stack-overflow"></i> StackOverflow</li>
      </ul>
    </div>

    <hr />

    <h3>Extensions</h3>
    <app-extensions></app-extensions>

    <div class="image-container mt-3">
      <img
        class="mt-2 img-fluid"
        src="./assets/img/gif/codever-browser-extension-save-snippet-800x454.gif"
        alt="How to save snippet viw browser extension"
      />
    </div>
  </div>
</div>
