<div *ngIf="note$ | async as note" class="card">
  <div class="card-body show-hide note-bg">
    <h5 class="card-title">
      <i class="fa fa-sticky-note fa-xs mr-2 anthracite-gray"></i>
      {{ note.title }}
    </h5>
    <h6 class="card-subtitle mb-2 text-muted url-under-title">
      <span *ngIf="note.reference"
        ><strong>Ref</strong> -
        <span
          *ngIf="
            note.reference.startsWith('http:') ||
              note.reference.startsWith('https:');
            else justText
          "
        >
          <a href="{{ note.reference }}" target="_blank">
            {{
              note.reference.length > 55
                ? note.reference.substring(0, 55) + '...'
                : note.reference
            }}
          </a>
          <sup class="ml-1"><i class="fas fa-external-link-alt"></i></sup>
        </span>
        <ng-template #justText>
          <span>{{ note.reference }}</span>
        </ng-template>
      </span>
    </h6>

    <app-note-content [note]="note" [queryText]="queryText"></app-note-content>
  </div>

  <div class="card-footer" style="padding-right: 0.3rem">
    <div class="tags-group">
      <div class="input-group-sm mb-2 mb-sm-0 star-group">
        <span>
          <i class="fas fa-eye-slash anthracite-gray" title="Private note"></i>
        </span>
      </div>
      <div *ngFor="let tag of note.tags" class="btn-group tag-list mr-2 mt-1">
        <a
          class="badge badge-secondary float-xs-left pr-2 font-weight-bolder"
          [routerLink]="['/search']"
          [queryParams]="{
            q: '[' + tag + '] user:' + (userId$ | async),
            sd: 'my-notes'
          }"
          title="Search my notes tagged [{{ tag }}]"
          [innerHtml]="tag | highlight : queryText"
        >
          {{ tag }}
        </a>
      </div>
      <div class="float-right mt-1">
        <button
          *ngIf="(userId$ | async) && note.userId === (userId$ | async)"
          type="button"
          class="btn btn-light btn-sm"
          (click)="editNote(note)"
          title="Edit note"
        >
          <i class="far fa-edit"></i> Edit
        </button>
      </div>
    </div>
  </div>
</div>
