<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div *ngIf="bookmark">
    <h2>{{bookmark.name}} details!</h2>
    <form #form="ngForm" (ngSubmit)="updateBookmark(form.value)">
      <div>
        <label>Name* </label>
        <input class="form-control form-control-lg" type="text"
               name="name"
               [(ngModel)]="bookmark.name"
               placeholder="name"
               required
        />
      </div>
      <div>
        <label>Location* </label>
        <input class="form-control" type="text"
               name="location"
               [(ngModel)]="bookmark.location"
               placeholder="location"
               required
        />
      </div>
      <div>
        <label>Category* </label>
        <input class="form-control"
               name="category"
               [(ngModel)]="bookmark.category"
               placeholder="category"
               required
        />
      </div>
      <div class="form-group">
        <label for="tags">Tags</label>
        <input type="text"
               class="form-control"
               [(ngModel)]="bookmark.tagsLine"
               name="tags"
               id="tags"
               pattern="^[-\w\s]+(?:,[-\w\s]*)*$"
               placeholder='keywoards - comma separated (e.g. "jvm, regex")'>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control"
                  id="description"
                  name="description"
                  [(ngModel)]="bookmark.description"
                  placeholder="Write a short description to search in later">
        </textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  </div>
</div>
