<div class="container">
  <div *ngIf="bookmark">
    <h2>{{bookmark.name}} details!</h2>
    <form #form="ngForm" (ngSubmit)="save(form.value)">
      <div>
        <label>Name: </label>
        <input class="form-control form-control-lg" type="text"
               name="name"
               [(ngModel)]="bookmark.name"
               placeholder="name"/>
      </div>
      <div>
        <label>Location: </label>
        <input class="form-control" type="text"
               name="location"
               [(ngModel)]="bookmark.location"
               placeholder="location"/>
      </div>
      <div>
        <label>Category: </label>
        <input class="form-control"
               name="category"
               [(ngModel)]="bookmark.category"
               placeholder="category"/>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</div>
