
<div *ngIf="bookmark">
  <h2>{{bookmark.name}} details!</h2>
  <div>
    <label>Name: </label>
    <input class="form-control form-control-lg" type="text" [(ngModel)]="bookmark.name" placeholder="name"/>
  </div>
  <div>
    <label>Location: </label>
    <input class="form-control" type="text" [(ngModel)]="bookmark.location" placeholder="location"/>
  </div>
  <div>
    <label>Category: </label>
    <input [(ngModel)]="bookmark.category" placeholder="category"/>
  </div>
  <button (click)="goBack()">Back</button>
  <button (click)="save()">Save</button>
</div>
