// styles applied on :host are applied on the current component, "app" in this case
:host {
  display: block;
}

footer {
  margin-top: 1rem;
  text-align: center;
  font-size: 0.8em;
}

.my-snippets-last-search {
  background: black;
  color: white;
}

.last-search-border {
  border-width: 0.05rem;
  border-style: solid;
  border-color: #495057;
}

.public-bookmarks-last-search {
  @extend .last-search-border;
  background: #f0f2f5;
  color: black;
}

.public-snippets-last-search {
  @extend .last-search-border;
  background: darkgray;
  color: white;
}

.my-bookmarks-last-search {
  @extend .last-search-border;
  background: linen;
  color: #495057;
}

.my-notes-last-search {
  @extend .last-search-border;
  background: lightgoldenrodyellow;
  color: #495057;
}
