<header>
  <app-navigation></app-navigation>
</header>
<main>
  <!--
  Simple side navigation from https://startbootstrap.com/templates/simple-sidebar/
  -->
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Landing page"
          routerLink="/"
        >
          <i class="fas fa-home mr-1"></i> Home
        </a>
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Get started, save & search bookmarks"
          [routerLink]="['/howto']"
        >
          <i class="fas fa-info-circle mr-1"></i> How to
        </a>
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Overview of your bookmarks, tags & searches"
          [routerLink]="['/dashboard']"
        >
          <i class="fas fa-tachometer-alt mr-1"></i> Dashboard
        </a>
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Latest public snippets"
          [routerLink]="['/snippets']"
        >
          <i class="fas fa-code mr-1"></i> Snippets
        </a>
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Your settings"
          [routerLink]="['/settings']"
        >
          <i class="fas fa-cog mr-1"></i> Settings
        </a>
        <div
          *ngIf="latestVisitedBookmarks$ | async as latestVisitedBookmarks"
          class="mt-1"
          (mouseout)="resetHoveringLastVisited()"
        >
          <a
            class="list-group-item list-group-item-action bg-light"
            title="Ctrl+H for quick access"
            (click)="launchHistoryDialog()"
          >
            <i class="fas fa-history mr-1"></i> History bookmarks (<b>Ctrl</b>+<b>h</b>)
          </a>
          <ng-container
            *ngFor="let bookmark of latestVisitedBookmarks; let i = index"
            class="mt-1"
          >
            <span class="mt-1 mr-2 on-top">
              <a
                (mouseover)="hoveringLastVisited[i] = true"
                (mouseout)="hoveringLastVisited[i] = false"
                class="badge badge-secondary mb-1 ml-2"
                [class.my-bookmarks-last-search]="bookmark.public === false"
                [class.public-bookmarks-last-search]="bookmark.public === true"
                title="See bookmark details. Right click to go directly to main link - {{
                  bookmark.location
                }}"
                (click)="navigateToBookmarkDetails(bookmark)"
                (auxclick)="goToMainLink(bookmark)"
                target="_blank"
              >
                <i class="fa fa-xs fa-bookmark mr-1"></i>
                <span
                  *ngIf="!hoveringLastVisited[i]; else longVersionLastVisited"
                >{{
                  bookmark.name.length > 33
                    ? bookmark.name.substring(0, 33) + '...'
                    : bookmark.name
                  }}</span
                >
                <ng-template #longVersionLastVisited>{{
                  bookmark.name
                  }}</ng-template>
              </a>
            </span>
          </ng-container>
        </div>

        <ng-container *ngIf="latestSearches$ | async as latestSearches">
          <a
            class="list-group-item list-group-item-action bg-light"
            title="Ctrl+S for quick access"
            (click)="displaySearchBarSearches()"
          >
            <i class="fas fa-history mr-1"></i> Latest searches (<b>Ctrl</b>+<b>s</b>)
          </a>
          <div class="mt-1" (mouseout)="resetHoveringLastSearches()">
            <ng-container
              *ngFor="let mySearch of latestSearches; let i = index"
              class="mt-1"
            >
              <span class="mt-1 mr-2 on-top">
                <a
                  (mouseover)="hoveringLastSearches[i] = true"
                  (mouseout)="hoveringLastSearches[i] = false"
                  [routerLink]="['/search']"
                  [queryParams]="{
                    q: mySearch.text,
                    sd: mySearch.searchDomain
                  }"
                  class="badge badge-secondary mb-1 ml-2"
                  [class.my-snippets-last-search]="
                    mySearch.searchDomain === 'my-snippets'
                  "
                  [class.public-snippets-last-search]="
                    mySearch.searchDomain === 'public-snippets'
                  "
                  [class.my-bookmarks-last-search]="
                    mySearch.searchDomain === 'my-bookmarks'
                  "
                  [class.my-notes-last-search]="
                    mySearch.searchDomain === 'my-notes'
                  "
                  [class.public-bookmarks-last-search]="
                    mySearch.searchDomain === 'public-bookmarks'
                  "
                  title="{{
                    'Search in ' + mySearch.searchDomain + ': ' + mySearch.text
                  }}"
                >
                  <i class="fa fa-xs fa-search mr-1"></i>
                  <span *ngIf="!hoveringLastSearches[i]; else longVersion">{{
                    mySearch.text.length > 30
                      ? mySearch.text.substring(0, 30) + '...'
                      : mySearch.text
                    }}</span>
                  <ng-template #longVersion>{{ mySearch.text }}</ng-template>
                  <i
                    *ngIf="
                      mySearch.searchDomain === 'my-snippets' ||
                      mySearch.searchDomain === 'public-snippets'
                    "
                    class="fa fa-xs fa-code ml-1"
                  ></i>
                  <i
                    *ngIf="
                      mySearch.searchDomain === 'my-bookmarks' ||
                      mySearch.searchDomain === 'public-bookmarks'
                    "
                    class="fa fa-xs fa-bookmark ml-1"
                  ></i>
                  <span *ngIf="mySearch.searchDomain === 'all-mine'">
                    <i class="fa fa-xs fa-bookmark ml-1"></i>
                    <i class="fa fa-xs fa-code ml-1"></i>
                  </span>
                </a>
              </span>
            </ng-container>
          </div>
        </ng-container>
      </div>
    </div>
    <div class="container">
      <div class="main-body">
        <div
          *ngIf="(userData$ | async) && !(userData$ | async).welcomeAck"
          class="alert alert-warning shadow-sm"
        >
          <div>
            <h4>Welcome to Codever 🙏 !!!</h4>
            <ul style="list-style-type: none; margin-left: -1.5rem">
              <li>
                👉 &nbsp;Go to
                <a [routerLink]="['/dashboard']"
                ><i class="fas fa-tachometer-alt"></i> My Dashboard</a
                >
                where you can <strong>import</strong> your browser bookmarks,
                view your latest activity and your used tags or searches
              </li>
              <li class="mt-1">
                👉 &nbsp;See our
                <a [routerLink]="['/howto']"
                ><i class="fas fa-info-circle"></i> HowTo Guides</a
                >
                and use
                <a [routerLink]="['/extensions']"
                >one of our extensions <i class="fas fa-wrench"></i
                ></a>
                to help you easily manage your bookmarks and snippets from your
                favorite browser or IDE
              </li>
            </ul>
          </div>
          <app-extensions
            [logoSize]="32"
            [showEntryParagraph]="false"
          ></app-extensions>

          <button
            class="ml-2 btn btn-primary btn-sm"
            (click)="acknowledgeWelcomeMessage()"
          >
            Got it <i class="fas fa-check-circle"></i>
          </button>
        </div>
        <app-loader></app-loader>
        <router-outlet></router-outlet>
        <!-- Routed views go here -->
        <app-error></app-error>
      </div>
    </div>
  </div>
</main>

<footer>
  <a [href]="url">Codever</a>
  | <a routerLink="about" routerLinkActive="active">About</a> |
  <a routerLink="privacy-policy" routerLinkActive="active">Privacy</a> |
  <a routerLink="terms-and-conditions" routerLinkActive="active"
  >Terms & Conditions</a
  >
  | <a href="http://www.codepedia.org/tags/#codever" target="_blank">Blog</a> |
  <a href="mailto:bookmarks@codingpedia.org">Contact</a>
</footer>
