<h2 mat-dialog-title>Delete {{type}}</h2>

<hr>

<mat-dialog-content>
  Are you sure you want to delete the following {{type}}?
  <p><strong>"{{resourceName}}"</strong></p>

  <div *ngIf="isPublic" class="alert alert-warning" role="alert">
    Please take into consideration this {{type}} is <b>public</b>!
  </div>
</mat-dialog-content>

<hr>

<mat-dialog-actions class="app-dialog-actions">
  <button type="button" class="btn btn-danger btn-sm mr-2" (click)="delete()"><i class="far fa-trash-alt"></i> Delete
  </button>
  <button type="button" class="btn btn-primary btn-sm" (click)="close()">Cancel</button>
</mat-dialog-actions>
