<div id="search-component" class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" [class.focused]="isFocusOnSearchControl" id="basic-addon1" (click)="filterBookmarks(publicSearchBox.value, language)"><i class="fa fa-search"></i></span>
  </div>
  <input
    #publicSearchBox
    matInput
    type="text"
    class="form-control"
    [formControl]="searchControl"
    placeholder="{{context}} bookmarks... (tags in square brackets: e.g. [angular])"
    [matAutocomplete]="auto"
    (focus)="focusOnSearchControl()"
    (focusout)="unFocusOnSearchControl()"
    (keyup.enter)="filterBookmarks(publicSearchBox.value, language)"
  >
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
    <mat-option *ngFor="let search of filteredSearches | async" [value]="search">{{search}}</mat-option>
  </mat-autocomplete>
  <div *ngIf="userIsLoggedIn" class="input-group-append">
    <button class="btn btn-outline-secondary"
            type="button"
            (click)="onSaveClick()"
            [disabled]="autocompleteSearches.includes(searchText) || !searchText"
    >Save search</button>
  </div>
</div>

<div id="language-select" class="input-group" readonly>
  <select class="form-control form-control-sm" [ngModel]="language" (ngModelChange)="onLanguageChange($event)">
    <option value=all selected="selected">Language</option>
    <option *ngFor="let lang of languages" value="{{lang.code}}">{{lang.name}}</option>
  </select>
</div>

<div class="clear" style="margin-bottom: 1rem"></div>

<div *ngIf="showNotFound" class="alert alert-info" role="alert">
  No bookmarks found for "<strong>{{searchText}}</strong>". Please try a different search
</div>

<div *ngIf="searchText && searchText.trim() !== ''">
  <app-async-bookmark-list [bookmarks]="filteredBookmarks" [queryText]="searchText"
                           [shownSize]="counter" [userData]="_userData" (bookmarkDeleted)="onBookmarkDeleted($event)"></app-async-bookmark-list>
  <div *ngIf="numberOfResultsFiltered > 0">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showMoreResults()"
            [disabled]="counter > numberOfResultsFiltered">Show more
    </button>
    <hr/>
  </div>
</div>



