<div class="input-group search-component">
  <div class="input-group-prepend">
    <span class="input-group-text"
          (mouseover)="hover=true"
          (mouseleave)="hover=false"
          [class.focused]="(isFocusOnSearchControl || hover) && searchText"
          id="basic-addon1"
          (click)="searchBookmarks(publicSearchBox.value, searchDomain)">
      <i class="fa fa-search"></i>
    </span>
  </div>
  <input
    #publicSearchBox
    matInput
    type="text"
    class="form-control"
    [formControl]="searchControl"
    placeholder="{{context}} bookmarks... (tags in square brackets: e.g. [angular])"
    [matAutocomplete]="auto"
    (focus)="focusOnSearchControl()"
    (focusout)="unFocusOnSearchControl()"
    (keyup.enter)="searchBookmarks(publicSearchBox.value, searchDomain)"
  >
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onSelectionChanged($event)">
    <mat-option *ngFor="let search of filteredSearches | async" [value]="search">{{search}}</mat-option>
  </mat-autocomplete>
  <div *ngIf="userIsLoggedIn" class="input-group-append">
    <button class="btn btn-outline-secondary"
            type="button"
            (click)="onSaveClick()"
            [disabled]="autocompleteSearches.includes(searchText) || !searchText"
    >Save search</button>
  </div>
</div>

<mat-form-field class="search-domain-select">
  <mat-label>Search domain</mat-label>
  <mat-select [ngModel]="searchDomain" (ngModelChange)="onDomainChange($event)">
    <mat-option *ngFor="let searchDomain of searchDomains" [value]="searchDomain.value" >
      {{searchDomain.viewValue}}
    </mat-option>
  </mat-select>
</mat-form-field>

<div class="clear" style="margin-bottom: 1rem"></div>

<div *ngIf="showNotFound" class="alert alert-info" role="alert">
  No <strong>{{searchDomain}}</strong> bookmarks found for "<em>{{searchText}}</em>".
  Please try a different search or look in <span *ngIf="searchDomain === 'personal'; else oppositeSearchDomain"> <span><strong>public</strong> bookmarks</span></span>
  <ng-template #oppositeSearchDomain><span><strong>personal</strong> bookmarks</span></ng-template>
</div>


<div *ngIf="showSearchResults">
  <app-async-bookmark-list [bookmarks]="filteredBookmarks" [queryText]="searchText"
                           [shownSize]="counter" [userData]="_userData" (bookmarkDeleted)="onBookmarkDeleted($event)"></app-async-bookmark-list>
  <div *ngIf="numberOfResultsFiltered > 0">
    <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showMoreResults()"
            [disabled]="counter > numberOfResultsFiltered">Show more
    </button>
    <hr/>
  </div>
</div>



