<br/>
<div class="tagged_header_wrapper">
  <h2>Public bookmarks tagged [<em>{{tag}}</em>]</h2>
  <div *ngIf="(userData$ | async)?.watchedTags.includes(tag)">
    <button type="button" class="btn btn-outline-danger" (click)="unwatchTag()"> <i class="fas fa-eye-slash"></i> Unfollow tag</button>
  </div>
  <div *ngIf="!userIsLoggedIn || !(userData$ | async)?.watchedTags.includes(tag)">
    <button type="button" class="btn btn-outline-primary" (click)="watchTag()"> <i class="fas fa-eye"></i> Follow tag</button>
  </div>
</div>
<hr/>
<div class="btn-group" role="group">
  <button type="button" class="btn"
          [ngClass]="{'btn-secondary': orderBy === 'LATEST', 'btn-outline-secondary': orderBy !== 'LATEST'}"
          [disabled]="orderBy === 'LATEST'"
          (click)="getLatestForTag()">

    Latest posts
  </button>
  <button type="button" class="btn"
          [ngClass]="{'btn-secondary': orderBy === 'LIKE_COUNT', 'btn-outline-secondary': orderBy !== 'LIKE_COUNT'}"
          [disabled]="orderBy === 'LIKE_COUNT'"
          (click)="getByLikeCount()">
    Top likes
  </button>
</div>

<app-async-bookmark-list
  [bookmarks$]="bookmarksForTag$"
  [queryText]="tag"
  [callerPagination]="taggedCallerPagination"
  [userData$]="userData$"></app-async-bookmark-list>

<div *ngIf="(bookmarksForTag$ | async)?.length - counter > 0">
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showMoreResults()"
          [disabled]="counter>=(bookmarksForTag$ | async)?.length" title="Show More">Show more
  </button>
  <hr/>
</div>
