label {
  display: inline-block;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}

input[type=checkbox], input[type=radio] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

#shared_label {
  width:100%;
}

mat-chip {
  max-width: 200px;
}

.demo-chip-list {
  width: 100%;
}
