<div class="col-md-8 col-md-offset-2">
  <div *ngIf="codingmark">
    <h2>Edit... {{codingmark.name}} </h2>
    <form #bookmarkForm="ngForm" (ngSubmit)="updateCodingmark(bookmarkForm.value)">
      <div class="form-group">
        <label>Name* </label>
        <input class="form-control form-control-lg" type="text"
               name="name"
               [(ngModel)]="codingmark.name"
               placeholder="name"
               required
               #name="ngModel"
        />
        <div *ngIf="name.invalid && (name.dirty || name.touched)"
             class="alert alert-danger">

          <div *ngIf="name.errors.required">
            Name is required.
          </div>

        </div>
      </div>
      <div class="form-group">
        <label>Location* </label>
        <input class="form-control" type="text"
               name="location"
               [(ngModel)]="codingmark.location"
               placeholder="location"
               required
               #location="ngModel"
        />
        <div *ngIf="location.invalid && (location.dirty || location.touched)"
             class="alert alert-danger">
          <div *ngIf="location.errors.required">
            Location is required.
          </div>

        </div>
      </div>
      <div class="form-group">
        <label for="language">Language*</label>
        <select class="form-control form-control-sm"
                id="language"
                name="language"
                [(ngModel)]="codingmark.language"
                style="width:20%;">
            <option *ngFor="let lang of languages" [value]="lang.code">{{lang.name}}</option>
         </select>
      </div>

      <label for="tags">Tags*</label>
      <mat-form-field class="full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of codingmark.tags" [selectable]="selectable"
                    [removable]="removable" (removed)="removeTag(tag)">
            {{tag}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="Max 8, use comma, space or enter to separate them"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="addTag($event)"
                 name="tags"
                 id="tags"
                 matInput
                 [matAutocomplete]="tdAuto"
                 [(ngModel)]="currentTag"
                 (ngModelChange)="tdTags = filterSuggestedTags(currentTag)"
                 appTagsSizeValidator
                 #tags="ngModel"
          />
        </mat-chip-list>
        <mat-autocomplete #tdAuto="matAutocomplete">
          <mat-option *ngFor="let tag of tdTags" [value]="tag">
            <span>{{ tag }}</span>
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div class="form-group">
        <label for="publishedOn">Published on <i class="fa fa-calendar"></i></label>
        <input type="date"
               class="form-control"
               name="publishedOn"
               id="publishedOn"
               [ngModel]="codingmark.publishedOn | date:'yyyy-MM-dd'"
               (ngModelChange)="codingmark.publishedOn = $event"
               placeholder='Date when page was published yyyy-MM-dd'>
      </div>
      <div class="form-group">
        <label for="githubURL">Source code URL <i class="fa fa-github"></i> </label>
        <input type="url"
               class="form-control"
               name="githubURL"
               id="githubURL"
               [(ngModel)]="codingmark.githubURL"
               placeholder='URL of the post, project on GitHub - e.g. https://github.com/Codingpedia/codingmarks.org'>
      </div>
      <div class="form-group">
        <label for="description" style="width: 100%">Description - <i class="fa fa-exclamation-circle"></i> <a class="markdown-link" href="https://daringfireball.net/projects/markdown/" target="_blank">Markdown is supported</a></label>
        <textarea class="form-control"
                  id="description"
                  name="description"
                  [(ngModel)]="codingmark.description"
                  appDescriptionSizeValidator
                  placeholder="Writing descriptions with keywords can help find your codingmarks more easily through search. You can give an overview of the codingmark and place keywords in the beginning of the description."
                  style="height: 250px"
                  #description="ngModel"
        >
        </textarea>
        <div class="description-chars-counter">{{codingmark.description.length}} / 1500</div>
        <div class="clear"></div>
        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.tooManyLines">
            Your description has {{description.errors.tooManyLines.value}} lines. Maximum 100 lines are allowed.
          </div>
          <div *ngIf="description.errors.tooManyCharacters">
            Your description has {{description.errors.tooManyCharacters.value}} characters. Maximum 1500 characters are allowed.
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="shared" id="shared_label">
          <input type="checkbox" id="shared" name="shared" [(ngModel)]="codingmark.shared">
          <strong> Make this codingmark public so others can benefit</strong>
        </label>
      </div>
      <button type="submit" class="btn btn-primary" [disabled]="bookmarkForm.invalid">Save</button>
    </form>
  </div>
</div>
