<header>
  <app-navigation></app-navigation>
</header>
<main>
  <!--
  Simple side navigation from https://startbootstrap.com/templates/simple-sidebar/
  -->
  <div class="d-flex" id="wrapper">
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="list-group list-group-flush">
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Landing page"
          routerLink="/"
        >
          <i class="fas fa-home mr-1"></i> Home
        </a>
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Get started, save & search bookmarks"
          [routerLink]="['/howto']"
        >
          <i class="fas fa-info-circle mr-1"></i> How to
        </a>
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Overview of your bookmarks, tags & searches"
          [routerLink]="['/dashboard']"
        >
          <i class="fas fa-tachometer-alt mr-1"></i> Dashboard

        </a>
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Latest public snippets"
          [routerLink]="['/snippets']"
        >
          <i class="fas fa-code mr-1"></i> Snippets

        </a>
        <a
          class="list-group-item list-group-item-action bg-light"
          title="Your settings"
          [routerLink]="['/settings']"
        >
          <i class="fas fa-cog mr-1"></i> Settings
        </a>
      </div>
    </div>
    <div class="container">

      <div class="main-body">
        <div *ngIf="showAcknowledgeMigrationHeader" class="alert alert-warning header-notification-wrapper shadow-sm">
          <div>
            <i class="fas fa-exclamation-circle fa-lg mr-1"></i> <b>Bookmarks.dev</b> has rebranded to <b>Codever</b>
          </div>
          <div>
            <button type="button" class="ml-2 btn btn-primary btn-sm mr-2" (click)="acknowledgeCodeverRebranding('cool')">
              Cool <i class="fas fa-thumbs-up"></i>
            </button>
            <button type="button" class="ml-2 btn btn-primary btn-sm mr-2" (click)="acknowledgeCodeverRebranding('ook')">
              Ok <i class="fas fa-check-circle"></i>
            </button>
          </div>
        </div>
        <app-loader></app-loader>
        <router-outlet></router-outlet>
        <!-- Routed views go here -->
        <app-error></app-error>
      </div>
    </div>
  </div>
</main>

<footer>
  <a [href]="url">Codever</a>
  | <a routerLink="about" routerLinkActive="active">About</a>
  | <a routerLink="privacy-policy" routerLinkActive="active">Privacy</a>
  | <a routerLink="terms-and-conditions" routerLinkActive="active">Terms & Conditions</a>
  | <a href="http://www.codepedia.org/tags/#bookmarksdev" target="_blank">Blog</a>
  | <a href="mailto:bookmarks@codingpedia.org">Contact</a>
</footer>
