<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <form [formGroup]="bookmarkForm" novalidate (ngSubmit)="saveBookmark(bookmarkForm.value, bookmarkForm.valid)">
      <div class="form-group">
        <label for="name">Name*</label>
        <input type="text" class="form-control" id="name"
               required
               formControlName="name"
               placeholder="Name of the bookmark to recognize later">
        <div [hidden]="bookmarkForm.controls.name.valid || (bookmarkForm.controls.name.pristine && !submitted)"
             class="alert alert-danger">
          Name is required
        </div>
      </div>
      <div class="form-group">
        <label for="name">Location*</label>
        <input type="text" class="form-control" id="location"
               required
               name="location"
               formControlName="location"
               placeholder="Usually an URL">
        <div [hidden]="bookmarkForm.controls.location.valid || (bookmarkForm.controls.location.pristine && !submitted)"
             class="alert alert-danger">
          Location is required
        </div>
      </div>
      <div class="form-group">
        <label for="name">Category*</label>
        <input type="text" class="form-control" id="category"
               required
               name="category"
               formControlName="category"
               placeholder="e.g. java or javascript">
        <div [hidden]="bookmarkForm.controls.category.valid || (bookmarkForm.controls.category.pristine && !submitted)"
             class="alert alert-danger">
          Category is required
        </div>
      </div>
      <div class="form-group">
        <label for="tags">Tags* - comma separated</label>
        <input type="text" class="form-control" id="tags"
               formControlName="tagsLine"
               pattern="^[-\w\s]+(?:,[-\w\s]*)*$"
               placeholder='keywoards - comma separated (e.g. "jvm, regex")'>
        <div [hidden]="bookmarkForm.controls.tagsLine.valid || (bookmarkForm.controls.tagsLine.pristine && !submitted)"
             class="alert alert-danger">
          Please provide the tags separated with comma
        </div>
      </div>
      <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control"
                  id="description"
                  formControlName="description"
                  placeholder="Write a short description to search in later">
        </textarea>
      </div>
      <div class="form-check">
        <label class="form-check-label">
          <input class="form-check-input" type="checkbox" value="true" formControlName="shared">
          <strong> Make this bookmark public so others can benefit from it </strong>
        </label>
      </div>
      <button type="submit" class="btn btn-default" [disabled]="!bookmarkForm.valid">Submit</button>
    </form>
  </div>
</div>
