<div id="search-component" class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input type="text" class="form-control" [formControl]="term" placeholder="Search in personal bookmarks... (tag filtering via square brackets: e.g. [angular])">
</div>

<br>

<div *ngIf="showNotFound" class="alert alert-info" role="alert">
  No bookmarks found. Please try a different search
</div>

<app-async-bookmark-list [bookmarks]="bookmarks" [queryText]="term.value" [shownSize]="20"></app-async-bookmark-list>
