/.idea/
/node_modules/
/frontend/src/environments/version.ts
dist.zip
apps/codever-keycloak-theme/keycloak-original-themes/*
documentation/keycloak-upgrade/*
/documentation/keycloak-upgrade/
/frontend/cypress/videos/
