/.idea/
/node_modules/
/apps/codever-ui/src/environments/version.ts
dist.zip
apps/codever-keycloak-theme/keycloak-original-themes/*
documentation/keycloak-upgrade/*
/documentation/keycloak-upgrade/
/apps/codever-ui/cypress/dist/videos/
/documentation/docker-migration/
