{
  "development": {
    "environment": "development",
    "keycloak": {
      "realm": "bookmarks",
      "bearer-only": true,
      "auth-server-url": "http://localhost:keycloak-port/auth",
      "ssl-required": "external",
      "resource": "bookmarks-api"
    },
    "integration_tests": {
      "client_id": "integration-tests-service-account",
      "client_secret": "client secret for service account",
      "token_endpoint": "http://localhost:keycloak-poart/auth/realms/bookmarks/protocol/openid-connect/token",
      "test_user_id": "keycloak-user-id",
      "admin": {
        "client_id": "service account name",
        "client_secret": "the client secret"
      }
    },
    "basicApiUrl": "http://localhost:nodejs-port/api/",
    "youtubeApiKey": "AIzaSXXXX"
  },
  "production": {
    "environment": "production",
    "keycloak": {
      "realm": "realm-name",
      "bearer-only": true,
      "auth-server-url": "auth-server-url",
      "ssl-required": "external",
      "resource": "resource-name(client id)"
    },
    "basicApiUrl": "https://www.bookmarks.dev/api/",
    "youtubeApiKey": "AIzaSXXXX"
  }
}
