{
  "env": {
    "NODE_ENV": "development",
    "YOUTUBE_API_KEY" : "change-me-with-a-valid-youtube-api-key",
    "MONGODB_BOOKMARKS_USERNAME": "bookmarks",
    "MONGODB_BOOKMARKS_PASSWORD": "secret",
    "MONGODB_BOOKMARKS_COLLECTION": "dev-bookmarks",
    "MONGODB_HOST": "localhost"
  }
}
