#tags input.mat-chip-input {
  text-indent: 10px;

}
#tags input.ng-valid {
  border-left: 0;
}

.markdown-link {
  margin-left: 0.15rem;
}

.form-group-distanced {
  margin-bottom: 1.5rem;
}

.level_icon {
  margin-left: 0.4rem;
}

.code-snippets {
  margin: 0 auto;
  width: 98%;
}
