<mat-tab-group [selectedIndex]="selectedTabIndex">
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label"><i class="fas fa-bookmark"></i> My bookmarks</span>
    </ng-template>
    <ng-template matTabContent>
      <app-user-bookmarks [userId]="userId" [userData$]="userData$"></app-user-bookmarks>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label"><i class="fas fa-code"></i> My snippets</span>
    </ng-template>
    <ng-template matTabContent>
      <app-my-snippets [userId]="userId"></app-my-snippets>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label"><i class="fas fa-tags"></i> My Tags</span>
    </ng-template>
    <ng-template matTabContent>
      <app-user-tags [userId]="userId" [userData$]="userData$"></app-user-tags>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label"><i class="fa fa-eye"></i> Following</span>
    </ng-template>
    <ng-template matTabContent>
      <app-following [userId]="userId"></app-following>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label"><i class="fas fa-user-friends"></i> Followers</span>
    </ng-template>
    <ng-template matTabContent>
      <app-followers [userId]="userId"></app-followers>
    </ng-template>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label"><i class="fa fa-search"></i> Searches</span>
    </ng-template>
    <ng-template matTabContent>
      <app-saved-searches></app-saved-searches>
    </ng-template>
  </mat-tab>
</mat-tab-group>
