<div #bookmarkText (click)="addToHistoryWhenClickOnLink($event)" (auxclick)="addToHistoryWhenMiddleClickOnLink($event)"
     appOpenInNewTab>
  <div *ngIf="viewHeight > 120; else wholeText" class="mb-2">
    <div
      [ngClass]="{ more_text: showMoreText, less_text_bookmark: !showMoreText }"
      *ngIf="bookmark.descriptionHtml"
      [innerHtml]="bookmark.descriptionHtml | highlightHtml : queryText"
    ></div>
    <button
      (click)="showMoreText = !showMoreText"
      [ngClass]="{
        show_less_button: showMoreText,
        show_more_button: !showMoreText
      }"
      class="toggle-show-more-button"
      title="Show more"
    ></button>
  </div>
  <ng-template #wholeText>
    <div
      *ngIf="bookmark.descriptionHtml"
      [innerHtml]="bookmark.descriptionHtml | highlightHtml : queryText"
    ></div>
  </ng-template>
</div>
