<div id="search-component" class="input-group">
    <span class="input-group-addon" id="basic-addon1"><i class="fa fa-search"></i></span>
    <input type="text" class="form-control" [formControl]="term" placeholder="in public bookmarks... (tag filtering via square brackets: e.g. [angular])">
</div>

<br>

<div *ngIf="showNotFound" class="alert alert-info" role="alert">
  No bookmarks found. Please try a different search
</div>

<my-async-public-bookmark-list [bookmarks]="filteredBookmarks" [queryText]="queryText"></my-async-public-bookmark-list>

