<h3 *ngIf="videoWidth > 800 else noVideoTitle">Play: "{{bookmark.name}}"</h3>

<ng-template #noVideoTitle>
  <h3>Play video</h3>
</ng-template>

<hr>

<mat-dialog-content>
  <div style="align: center">

    <iframe [src]='safeUrl' frameborder="0" allowfullscreen width="{{videoWidth}}" height="{{videoHeight}}" align="middle"></iframe>
  </div>
</mat-dialog-content>

<hr>

<mat-dialog-actions class="app-dialog-actions">
  <button type="button" class="btn btn-primary btn-sm" (click)="close()">Close</button>
</mat-dialog-actions>
