<div id="search-component" class="input-group">
  <div class="input-group-prepend">
    <span class="input-group-text" id="basic-addon1"><i class="fa fa-search"></i></span>
  </div>
  <input type="text" class="form-control" [formControl]="term" placeholder="Search in {{context}} bookmarks... (tag filtering via square brackets: e.g. [angular])">
</div>

<div id="language-select" class="input-group" readonly>
  <select class="form-control form-control-sm"  [ngModel]="language" (ngModelChange)="onLanguageChange($event)">
    <option value=all selected="selected">Language</option>
    <option *ngFor="let lang of languages" value="{{lang.code}}">{{lang.name}}</option>
  </select>
</div>

<div class="clear"></div>
<br>

<div *ngIf="showNotFound" class="alert alert-info" role="alert">
  No bookmarks found. Please try a different search
</div>

<div *ngIf="numberOfResultsFiltered > 0" class="alert alert-success" role="alert">
  {{numberOfResultsFiltered}} results found <span *ngIf="numberOfResultsFiltered > 50"> - please consider refining your search</span>
</div>


<app-async-bookmark-list [bookmarks]="filteredBookmarks" [queryText]="queryText" [shownSize]="counter"></app-async-bookmark-list>
<div *ngIf="numberOfResultsFiltered > 0" >
  <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showMoreResults()" [disabled]="counter>=numberOfResultsFiltered">Show more</button>
  <hr/>
</div>


