.search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:195px;
    height: 20px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}

.search-control input:focus {
  outline-width: 0;
}
#search-component{
  padding-top: 20px;
  input:focus {
    box-shadow: none;
  }
}

.focused {
  background-color:#03a9f4;
  border-color: #03a9f4;
}

.search-input:focus + .search-prepend {
  border:1px solid red;
  font-weight: bold;
  background-color:green;
}
