<div class="modal" [ngStyle]="{'display': displayModal}">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Login is required</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"  (click)="onCancelClick()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>This URL is already public on Codingmarks.org. You can save it as private and star it to help it get exposure</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary"(click)="onStarClick()">Star codingmark</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="onCancelClick()">Cancel</button>
      </div>
    </div>
  </div>
</div>
<div class="col-md-8 col-md-offset-2">
  <form [formGroup]="codingmarkForm" novalidate (ngSubmit)="saveCodingmark(codingmarkForm.value)">
    <div class="form-group">
      <label for="location">Location*</label>
      <input type="text" class="form-control" id="location"
             required
             name="location"
             formControlName="location"
             placeholder="Usually an URL">
      <div [hidden]="codingmarkForm.get('location').valid || (codingmarkForm.get('location').pristine)"
           class="alert alert-danger">
        Location is required
      </div>
      <div [hidden]="!personalCodingmarkPresent" class="alert alert-danger">
        You have already bookmarked this URL.
      </div>
    </div>
    <div class="form-group">
      <label for="name">Title*</label>
      <input type="text" class="form-control" id="name"
             required
             formControlName="name"
             placeholder="Name of the bookmark to recognize later">
      <div [hidden]="codingmarkForm.get('name').valid || (codingmarkForm.get('name').pristine)"
           class="alert alert-danger">
        Name is required
      </div>
    </div>
      <div class="form-group">
      <label for="language">Language*</label>
      <select class="form-control form-control-sm"
              id="language"
              formControlName="language"
              style="width:20%;">
        <option value=en selected="selected">English</option>
        <option *ngFor="let lang of languages" value="{{lang.code}}">{{lang.name}}</option>
      </select>
    </div>

    <div id="tags">
      <mat-form-field  class="full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of tags.controls; let i = index;" [selectable]="selectable"
                    [removable]="removable" (removed)="remove(i)">
            {{tag.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input placeholder="&nbsp;&nbsp;Tags* - max 8, use comma, space or enter to separate them..."
                 matInput
                 #tagInput
                 [formControl]="tagCtrl"
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 [matAutocomplete]="auto"
                 pattern="^[-\w\s]+(?:,[-\w\s]*)*$"
                 (matChipInputTokenEnd)="add($event)"
                 formArrayName="tags"
          />
        </mat-chip-list>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <div *ngIf="tags.invalid && (tags.dirty || tags.touched)" class="alert alert-danger">
        <div *ngIf="tags.errors.tagsAreRequired">
          Tags are required.
        </div>
        <div *ngIf="tags.errors.tooManyTags">
          You can add maximum 8 tags.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="publishedOn">Published on <i class="fa fa-calendar"></i></label>
      <input type="date" class="form-control" id="publishedOn"
             formControlName="publishedOn"
             placeholder='Date when page was published yyyy-MM-dd'>
    </div>
    <div class="form-group">
      <label for="githubURL">Source code URL <i class="fa fa-github"></i></label>
      <input type="url"
             class="form-control"
             id="githubURL"
             formControlName="githubURL"
             placeholder='URL of the post, project on GitHub - e.g. https://github.com/Codingpedia/codingmarks.org'>
    </div>
    <div class="form-group">
      <label for="description" style="width: 100%">Description - <a href="https://daringfireball.net/projects/markdown/" target="_blank">Markdown</a> supported</label>
      <textarea class="form-control"
                id="description"
                formControlName="description"
                placeholder="Writing descriptions with keywords can help find your codingmarks more easily through search. You can give an overview of the codingmark and place keywords in the beginning of the description."
                style="height: 250px">
      </textarea>
      <div class="description-chars-counter">{{description.value ? description.value.length : 0}} / 1500</div>
      <div class="clear"></div>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
        <div *ngIf="description.errors.tooManyLines">
          Your description has {{description.errors.tooManyLines.value}} lines. Maximum 100 lines are allowed.
        </div>
        <div *ngIf="description.errors.tooManyCharacters">
          Your description has {{description.errors.tooManyCharacters.value}} characters. Maximum 1500 characters are allowed.
        </div>
      </div>
    </div>
    <div class="form-check">
      <label class="form-check-label">
        <input #publicCodingmark [checked]="makePublic" (click)="onClickMakePublic(publicCodingmark.checked)" class="form-check-input" type="checkbox" value="true" formControlName="shared">
        <strong> Make this codingmark public so others can benefit</strong>
      </label>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="!codingmarkForm.valid || personalCodingmarkPresent">Submit</button>
  </form>
</div>

