<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h2>Getting started</h2>
    <p class="lead">Bookmarks.dev is a bookmark manager created and designed with Developers & Co in mind. Take a look at our <a href="{{environment.HOST}}/about">About</a> page for more details.
    <p>
    Create an <a target="_blank" href="{{environment.keycloak.url}}/realms/bookmarks/account/">Account</a> first.
    You will be taken to the <strong>Login/Registration</strong> form, where you can choose to connect via <strong>email and password</strong>, or
    via one of the many supported identity providers (<i class="fab fa-github"></i> Github, <i class="fab fa-google"></i> Google,
    <i class="fab fa-twitter"></i> Twitter, <i class="fab fa-stack-overflow"></i> StackOverflow, <i class="fab fa-linkedin"></i> LinkedIn
    or <i class="fab fa-facebook"></i> Facebook). Choose an <strong>username</strong>,
    <a href="{{environment.HOST}}/personal/new"><strong>add your first bookmark</strong></a> and you are good to go.
    <hr/>
    <h2>Save bookmarks</h2>
    <p class="lead">We've made it easy to save bookmarks:</p>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">The first option is with the help of <strong>bookmarklets</strong>.
        Bookmarklets are little javascript links that live in the bookmarks toolbar of your browser.
        Just drag one of the links bellow to your browser toolbar:
        <ul>
          <li>
            <a
              class="bookmarklet"
              href="javascript:(function(){let l=location.href;if(document.getSelection){d=document.getSelection()}else{d=''};let t=document.title;let w,h;if(innerWidth>1500){w=1210}else{w=(innerWidth*80)/100}if(innerHeight>1500){h=1210}else{h=(innerHeight*90)/100};let features=`toolbar=no,width=${w},height=${h},top=0,left=0`;open('https://www.bookmarks.dev/personal/new?url='+encodeURIComponent(l)+'&desc='+encodeURIComponent(d)+'&title='+encodeURIComponent(t)+'&popup=true','Bookmarks.dev',features);})();">
              <i class="fas fa-bookmark"></i> +Bookmarks.dev - popup
            </a> - when clicked a popup to save the current URL is displayed [<em>recommended for
            <strong>desktops</strong> and <strong>notebooks</strong> with good resolution</em>]
          </li>
          <li>
            <a
              href="javascript:(function(){q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};t=document.title;location.href='https://www.bookmarks.dev/personal/new?url='+encodeURIComponent(q)+'&desc='+encodeURIComponent(d)+'&title='+encodeURIComponent(t)})();">
              <i class="fas fa-bookmark"></i> +Bookmarks.dev - go back
            </a> - when clicked it redirects you to the <a href="https://www.bookmarks.dev/personal/new">New
            Bookmark</a> form.
            Once added you go back to the initial page [<em>recommended for <strong>phones</strong> or smaller
            resolution devices</em>]
          </li>
        </ul>
        <p class="note_normal">You can <strong>select the text on page</strong> that you want to be added to the
          description of the bookmark
          before you click the bookmarklet's link </p>
      </li>
      <li class="list-group-item">Save directly using the
        <button type="button" class="btn btn-primary btn-sm add-new-bookmark" routerLink="/personal/new">
          <i class="fa fa-plus"></i>
          New bookmark
        </button>
        button from the navigation menu
      </li>
      <li class="list-group-item">Use the <a
        href="https://chrome.google.com/webstore/detail/save-url-to-bookmarksdev/diofdblfhjbpgackifolmboaiccmebjb">
        <i class="fab fa-chrome"></i> Save to bookmarks.dev</a>
        chrome extension for Chromium based browsers - same behaviour as the first bookmarklet
      </li>
    </ul>
    <br>
    <h3>Public & Private bookmarks</h3>
    <p class="lead">When saving a bookmark you have the option to make it <strong>public</strong> - this won't be
      available if you opt in for the <strong>all private modus</strong> (soon to be implemented).
      Please share only dev related links that others might benefit from - <span
        class="highlight"><strong>SPAM</strong> will not be tolerated and you risk having your account blocked </span>
    </p>

    <p class="note_normal">The public bookmarks are regularly published on Github
      at <a href="https://github.com/CodepediaOrg/bookmarks#readme"> https://github.com/CodepediaOrg/bookmarks</a>
    </p>

    <p>You can easily differentiate between private and public bookmarks:</p>
    <img src="./assets/img/public-vs-private-bookmarks.png" alt="Search bar example" style="align-content: center;"/>
    <hr/>
    <h2>Search bookmarks</h2>
    <p class="lead">You can search bookmarks by placing your search terms in the Search bar. You can choose to search in
      <strong>Public Bookmarks</strong> or in <strong>Mine & Favorites</strong>, by selecting one of the options
      beneath the Search Bar.
      Tags must be embedded in <strong>square bracktes - e.g. [java]</strong>.</p>
    <br>
    <p>Let's say you want to look for personal bookmarks that contain the text <strong><em>exception</em></strong> and
      are tagged with
      <strong><em>java</em></strong>. Then
      would put <strong><em>exception [java]</em></strong> in the search bar, and use the <strong>Personal &
        Favorites</strong> option </p>

    <img src="./assets/img/search-bar-example.png" alt="Search bar example" style="align-content: center;"/>
    <p class="note_normal">You have the possibility to save this search by clicking the <strong>Save search</strong>
      button. This way it will be displayed in the <strong>auto completion</strong> when you input text in the Search
      bar </p>

    <h3>Search via query parameters</h3>
    <p class="lead">You can execute the same search via <strong>query parameters</strong></p>

    You can trigger the same search as above by calling the following URL:

    <a href="https://www.bookmarks.dev/search?q=exception [java]&sd=personal">https://www.bookmarks.dev/search?q=exception [java]&sd=personal</a>
    <ul>
      <li><strong>q</strong> - here is your input search text</li>
      <li><strong>sd</strong> - search domain with two options</li>
      <ul>
        <li><strong>personal</strong> - mine and favorite bookmarks</li>
        <li><strong>public</strong> - public bookmarks (may include personal bookmarks if they come from same user)</li>
      </ul>
    </ul>
    <p class="note_normal">This is very handy if you use Web Search tools where you can define custom queries,
      like <a href="https://www.alfredapp.com/help/features/web-search/"> Alfred Web Search</a> if you are on Mac</p>

  </div>
</div>
