.add-new-bookmark {
  margin-top: 0.3rem;
}

.navbar-brand {
  display: flex;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

  font-size: 25px;
}

.navbar-brand small {
  font-size: 11px;
}

.app-brand {
  display: flex;
  padding-right: 15px;
  align-items: center;

  .app-brand-text {
    margin-left: 0.5rem;
  }
}
.logo-text {
  font-size: smaller;
}

.logo-image {
  height: 38px;
  width: auto;
  margin: 0;
}

.large-displays {
  display: none;
}

@media (min-width: 1400px) {
  .large-displays {
    display: block;
  }
}

.navbar-dev {
  background-color: darkgreen !important;
}
