<div id="about-content" class="jumbotron">
  <h2>Bookmarklet</h2>
  <p class="lead">
    <a href="https://en.wikipedia.org/wiki/Bookmarklet" target="_blank">
      Bookmarklets
      <sup class="external-link-hint"
      ><i class="fas fa-external-link-alt"></i></sup
      ></a>
    are little javascript links that live in the bookmarks toolbar of your
    browser. <span>Drag
    <i class="fas fas fa-arrows-alt ml-1"></i> one of the bookmarklet links</span>
    bellow to your browser's bookmarks to easily save links, code snippets or notes
    when clicked.
  </p>
  <div>
    <ul class="mt-3">
      <li>
        <app-codever-bookmarklet
          [withWindowDialog]="true"
        ></app-codever-bookmarklet>
        - when clicked a popup to save the current URL is displayed [<em
      >recommended for <strong>desktops</strong> and
        <strong>notebooks</strong> with good resolution</em
      >]
      </li>
      <li class="mt-2">
        <app-codever-bookmarklet
          [withWindowDialog]="false"
        ></app-codever-bookmarklet>
        - when clicked it redirects you to the
        <a href="{{ environment.HOST }}/my-bookmarks/new">New Bookmark</a>
        form. Once added, you go back to the initial page [<em
      >recommended for <strong>phones</strong> or smaller resolution
        devices</em
      >]
      </li>
    </ul>

    <p class="alert alert-info mb-3">
      <i class="fas fa-info-circle mr-1"></i> You can make a
      <strong> text selection </strong> on the page, to use it as
      <strong>description</strong> when choosing to create a
      <strong>new bookmark</strong> or as
      <strong>code</strong>
      when choosing to create a <strong>new snippet</strong> out of it.

      <br/><br/>
      If <strong>no text selection</strong>, then the
      <strong>new bookmark</strong> dialog is presented. The
      <strong>meta:description</strong>, if available, will be used for the
      <strong>description</strong> field
    </p>

    <div class="mb-2">
      <h3>Save bookmark via bookmarklet demo</h3>
    </div>
    <div class="image-container">
      <img
        src="../../../../assets/img/gif/codever-bookmarklet-save-bookmark-800x454.gif"
        alt="Save bookmark via bookmarklet"
        border="0"
      />
    </div>

    <div class="mb-2 mt-5">
      <h3>Save snippet via bookmarklet demo</h3>
    </div>
    <div class="image-container">
      <img
        src="../../../../assets/img/gif/codever-bookmarklet-save-snippet-800x454.gif"
        alt="Save snippet via bookmarklet"
        border="0"
      />
    </div>
  </div>
</div>
