<div class="input-group search-component">
  <div class="input-group-prepend">
    <button type="button"
            (mouseover)="hover=true"
            (mouseleave)="hover=false"
            [class.focused]="(isFocusOnSearchControl || hover) && publicSearchBox.value"
            (click)="searchBookmarksFromSearchBox(publicSearchBox.value)"
            [disabled]="!searchBoxText"
            class="btn btn-outline-secondary lighter-gray"
            title="Search"
    >
      <i class="fa fa-search" style="font-size: 1.18rem"></i>
    </button>

    <button *ngIf="innerWidth > 1400; else toggleButton" class="btn btn-outline-secondary dropdown-toggle lighter-gray"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
            style="font-size: 15px">
      {{searchDomains.get(searchDomain)}}
    </button>
    <ng-template #toggleButton>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
    </ng-template>
    <div class="dropdown-menu">
      <a class="dropdown-item" role="button"
         title="Search in My Bookmarks"
         (click)="onSearchDomainChange('my-bookmarks')">
        My Bookmarks
        <span *ngIf="searchDomain === 'my-bookmarks'; else uncheckedMyBookmarksSelection"
              class="search-domain-selection my-bookmarks-selection float-right pl-1 pr-1">
            <i class="fas fa-check"></i>
          </span>
        <ng-template #uncheckedMyBookmarksSelection>
            <span class="my-bookmarks-selection-unchecked float-right">
              <i class="fa fa-square fa-lg"></i>
            </span>
        </ng-template>
      </a>
      <a class="dropdown-item" role="button"
         title="Search in My Snippets"
         (click)="onSearchDomainChange('my-snippets')">
        My Snippets
        <span *ngIf="searchDomain === 'my-snippets'; else uncheckedMyCodeletsSelection"
              class="search-domain-selection my-snippets-selection float-right pl-1 pr-1">
            <i class="fas fa-check"></i>
          </span>
        <ng-template #uncheckedMyCodeletsSelection>
            <span class="my-snippets-selection-unchecked  float-right">
              <i class="fa fa-square fa-lg"></i>
            </span>
        </ng-template>
      </a>
      <a class="dropdown-item" role="button"
         title="Search in My Bookmarks & Snippets"
         (click)="onSearchDomainChange('all-mine')">
        All mine
        <span *ngIf="searchDomain === 'all-mine'" class="float-right">
            <i class="fas fa-check"></i>
        </span>
      </a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item" role="button"
         title="Search in public bookmarks"
         (click)="onSearchDomainChange('public-bookmarks')">
        Public Bookmarks
        <i *ngIf="searchDomain === 'public-bookmarks'; else  uncheckedPublicBookmarksSelection"
           class="fas fa-check ml-1"></i>
        <ng-template #uncheckedPublicBookmarksSelection>
            <span class="public-snippets-selection-unchecked  float-right">
              <i class="fa fa-square fa-lg ml-1 unchecked-public-bookmarks-selection"></i>
            </span>
        </ng-template>
      </a>
      <a class="dropdown-item" role="button"
         title="Search in public snippets"
         (click)="onSearchDomainChange('public-snippets')">
        Public Snippets
        <span *ngIf="searchDomain === 'public-snippets'; else uncheckedPublicSnippetsSelection"
              class="search-domain-selection public-snippets-selection float-right pl-1 pr-1">
            <i class="fas fa-check"></i>
          </span>
        <ng-template #uncheckedPublicSnippetsSelection>
            <span class="public-snippets-selection-unchecked  float-right">
              <i class="fa fa-square fa-lg ml-1 public-snippets-selection-unchecked"></i>
            </span>
        </ng-template>
      </a>
    </div>
  </div>

  <input
    #publicSearchBox
    #autocompleteTrigger="matAutocompleteTrigger"
    matInput
    type="text"
    class="form-control"
    [formControl]="searchControl"
    placeholder="{{getPlaceholderTextForSearchbar()}}"
    [matAutocomplete]="auto"
    (focus)="focusOnSearchControl()"
    (focusout)="unFocusOnSearchControl()"
    [class.my-snippets-selection]="searchDomain === 'my-snippets'"
    [class.my-bookmarks-selection]="searchDomain === 'my-bookmarks'"
    [class.public-snippets-selection]="searchDomain === 'public-snippets'"
    (keyup)="watchForTags(publicSearchBox.value)"
    (keyup.enter)="$event.target.blur(); autocompleteTrigger.closePanel();searchBookmarksFromSearchBox(publicSearchBox.value)"
  >
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocompleteSelectionChanged($event)">
    <mat-option *ngFor="let search of filteredSearches | async" [value]="search.text">
      <i class="fas fa-history mr-2 search-history-clock"></i>
      <span class="search-history-text">
        {{search.text}}
        <span class="float-right rm-search-trashbin" (click)="removeSearch(search, $event)"
              title="Remove search from history"><i
          class="far fa-trash-alt fa-sm"></i></span>
    </span>
    </mat-option>
  </mat-autocomplete>
  <mat-autocomplete autoActiveFirstOption #auto2="matAutocomplete">ß
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option}}
    </mat-option>
  </mat-autocomplete>
  <div class="input-group-append dropdown">
    <button *ngIf="publicSearchBox.value" class="btn btn-sm btn-outline-secondary"
            type="button"
            (click)="clearSearchBoxText()"
            title="Clear"
    ><i class="fas fa-lg fa-times lighter-gray"></i>
    </button>
    <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false" style="border-radius: 0">
      <span class="sr-only">Toggle Dropdown</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right">
      <h6 class="dropdown-header">Add to search query </h6>
      <a class="dropdown-item" role="button" (click)="addTagFilter()" text="Add tag filter"><i class="fas fa-tags"></i>
        Tag(s)</a>
    </div>
    <button class="btn btn-outline-secondary"
            type="button"
            (click)="onSaveSearchClick()"
            title="{{userIsLoggedIn ? 'Save search' : 'Login to save search'}}"
            [disabled]="!searchBoxText"
    ><i class="fas fa-save lighter-gray"></i>
    </button>

  </div>
</div>




