<div class="input-group search-component">
  <div class="input-group-prepend">
    <button type="button"
            (mouseover)="hover=true"
            (mouseleave)="hover=false"
            [class.focused]="(isFocusOnSearchControl || hover) && publicSearchBox.value"
            (click)="onSearchDomainChange(searchDomain)"
            [disabled]="!searchBoxText"
            class="btn btn-outline-secondary lighter-gray"
            title="Search"
    >
      <i class="fa fa-search" style="font-size: 1.18rem"></i>
    </button>

    <button *ngIf="innerWidth > 1400; else toggleButton" class="btn btn-outline-secondary dropdown-toggle lighter-gray"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
      style="font-size: 15px">
      {{searchDomain === 'my-codelets' ? 'My Codelets' : searchDomain === 'public-bookmarks' ? 'Public Bookmarks' : 'My Bookmarks'}}
    </button>
    <ng-template #toggleButton>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
    </ng-template>
    <div class="dropdown-menu">
      <a class="dropdown-item"  role="button"
         title="Search in My Bookmarks"
         (click)="onSearchDomainChange('my-bookmarks')">
        My Bookmarks
        <span *ngIf="searchDomain === 'my-bookmarks'; else uncheckedMyBookmarksSelection"
              class="search-domain-selection my-bookmarks-selection float-right pl-1 pr-1">
            <i class="fas fa-check"></i>
          </span>
        <ng-template #uncheckedMyBookmarksSelection>
            <span class="my-bookmarks-selection-unchecked float-right">
              <i class="fa fa-square fa-lg"></i>
            </span>
        </ng-template>
      </a>
      <a class="dropdown-item"  role="button"
         title="Search in My Codelets"
         (click)="onSearchDomainChange('my-codelets')">
        My Codelets
        <span *ngIf="searchDomain === 'my-codelets'; else uncheckedMyCodeletsSelection"
              class="search-domain-selection my-codelets-selection float-right pl-1 pr-1">
            <i class="fas fa-check"></i>
          </span>
        <ng-template #uncheckedMyCodeletsSelection>
            <span class="my-codelets-selection-unchecked  float-right">
              <i class="fa fa-square fa-lg"></i>
            </span>
        </ng-template>
      </a>
      <div role="separator" class="dropdown-divider"></div>
      <a class="dropdown-item"  role="button"
         title="Search in public bookmarks"
         (click)="onSearchDomainChange('public-bookmarks')">
        Public Bookmarks
        <i *ngIf="searchDomain === 'public-bookmarks'; else  uncheckedPublicBookmarksSelection"
           class="fas fa-check ml-1"></i>
        <ng-template #uncheckedPublicBookmarksSelection>
            <span class="my-codelets-selection-unchecked  float-right">
              <i class="fa fa-square fa-lg ml-1 unchecked-public-bookmarks-selection"></i>
            </span>
        </ng-template>
      </a>
    </div>
  </div>
  <input
    #publicSearchBox
    matInput
    type="text"
    class="form-control"
    [formControl]="searchControl"
    placeholder="Search{{ innerWidth <=1400 ? searchDomain === 'my-codelets' ? ' My Codelets' : searchDomain === 'public-bookmarks' ? ' Public Bookmarks' : ' My Bookmarks' : ''}}..."
    [matAutocomplete]="auto"
    (focus)="focusOnSearchControl()"
    (focusout)="unFocusOnSearchControl()"
    [class.my-codelets-selection]="searchDomain === 'my-codelets'"
    [class.my-bookmarks-selection]="searchDomain === 'my-bookmarks'"
    (keyup.enter)="searchBookmarksFromSearchBox(publicSearchBox.value)"
  >
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onAutocompleteSelectionChanged($event)">
    <mat-option *ngFor="let search of filteredSearches | async" [value]="search.text">{{search.text}}</mat-option>
  </mat-autocomplete>
  <div class="input-group-append">
    <button *ngIf="publicSearchBox.value" class="btn btn-sm btn-outline-secondary"
            type="button"
            (click)="clearSearchBoxText()"
            title="Clear"
    ><i class="fas fa-lg fa-times lighter-gray"></i>
    </button>
    <button class="btn btn-outline-secondary"
            type="button"
            (click)="onSaveSearchClick()"
            title="{{userIsLoggedIn ? 'Save search' : 'Login to save search'}}"
            [disabled]="!searchBoxText"
    ><i class="fas fa-save lighter-gray"></i>
    </button>
  </div>
</div>




