.search-result{
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    width:195px;
    height: 20px;
    padding: 5px;
    background-color: white;
    cursor: pointer;
}

.search-control input:focus {
  outline-width: 0;
}

.search-component{
  min-width: 300px;
  input:focus {
    box-shadow: none;
  }
}
// inspired from https://getbootstrap.com/docs/4.0/layout/overview/#responsive-breakpoints
// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .search-component{
    min-width: 500px;
    input:focus {
      box-shadow: none;
    }
  }
}

@media (min-width: 1200px) {
  .search-component{
    min-width: 675px;
    input:focus {
      box-shadow: none;
    }
  }
}




.focused {
  background-color:#007bff;
  border-color: #007bff;
  color: white;
  cursor: pointer;
}

.search-domain-select {
  float: right;
  margin-top: 0.5rem;
}
