<div class="jumbotron jumbotron-fluid">
  <div class="container lead">
    <h2>Hot Keys</h2>
    <ul>
      <li>
        <strong>Ctrl/Cmd+Shift+H</strong> - launches dialog with your bookmarks
        history (requires login)
      </li>
      <li>
        <strong>Ctrl/Cmd+Shift+P</strong> - launches dialog with your pinned
        bookmarks (requires login)
      </li>
      <li>
        <strong>Ctrl/Cmd+K</strong> - focus and select text in the search box
      </li>
    </ul>
  </div>
</div>
