<div *ngIf="codelet" class="navigation-space-buffer rounded bg-white shadow-sm">
  <form [formGroup]="codeletFormGroup" novalidate (ngSubmit)="saveCodelet(codeletFormGroup.value)">
    <div class="form-group pb-1">
      <label for="title">Title*</label>
      <input type="text" class="form-control" id="title"
             required
             formControlName="title"
             placeholder="Title of code snippet(s) to recognize later">
      <div [hidden]="codeletFormGroup.get('title').valid || (codeletFormGroup.get('title').pristine)"
           class="alert alert-danger">
        Title is required
      </div>
    </div>

    <div id="tags" class="mb-4 border rounded p-2">
      <mat-form-field class="full-width">
        <mat-chip-list #chipList>
          <mat-chip *ngFor="let tag of formArrayTags.controls; let i = index;" [selectable]="selectable"
                    [removable]="removable" (removed)="removeTagByIndex(i)">
            {{tag.value}}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            placeholder="&nbsp;&nbsp;Tags*"
            #tagInput
            [formControl]="tagsControl"
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            [matAutocomplete]="auto"
            (matChipInputTokenEnd)="addTag($event)"
            formArrayName="tags"
          />
        </mat-chip-list>
        <mat-hint>Enter comma-separated values</mat-hint>
        <mat-autocomplete
          #auto="matAutocomplete"
          (optionActivated)="optionActivated($event)"
          (optionSelected)="selectedTag($event)">
          <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
            {{ tag }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
      <span *ngIf="formArrayTags.invalid && (formArrayTags.dirty || formArrayTags.touched)">
        <mat-error *ngIf="formArrayTags.errors.tagsAreRequired">
          Tags are <strong>required</strong>
        </mat-error>
        <mat-error *ngIf="formArrayTags.errors.tooManyTags">
          You can add <strong>maximum 8 tags</strong>
        </mat-error>
      </span>
    </div>

    <div formArrayName="codeSnippets"
         *ngFor="let codeSnippet of codeSnippetsFormArray.controls; let i = index;" class="code-snippets">
      <div [formGroupName]="i" class="border rounded pt-1 pl-3 pr-3 mb-3">
        <div class="form-group mb-0">
          <div class="form-group">
            <label for="comment-{{i}}">Comment (optional)- <i class="fab fa-markdown"></i> <a
              class="markdown-link" href="https://daringfireball.net/projects/markdown/" target="_blank">Markdown is
              supported</a></label>
            <textarea class="form-control"
                      id="comment-{{i}}"
                      formControlName="comment"
                      placeholder='Appears before code snippet in details'>
            </textarea>
          </div>
          <label for="code-{{i}}" style="width: 100%">
            Code snippet*
          </label>
          <textarea class="form-control"
                    id="code-{{i}}"
                    formControlName="code"
                    placeholder="Your code goes here..."
                    style="height: 300px">
          </textarea>
          <div
            class="description-chars-counter">{{codeSnippet.get('code').value ? codeSnippet.get('code').value.length : 0}}
            / 5000
          </div>
          <div class="clear"></div>
          <div *ngIf="codeSnippet.invalid && (codeSnippet.dirty || codeSnippet.touched)" class="alert alert-danger">
            <div *ngIf="codeSnippet.get('code').errors.tooManyLines">
              Your code snippet has {{codeSnippet.get('code').errors.tooManyLines.value}} lines. Maximum 500 lines are
              allowed.
            </div>
            <div *ngIf="codeSnippet.get('code').errors.tooManyCharacters">
              Your code snippet has {{codeSnippet.get('code').errors.tooManyCharacters.value}} characters. Maximum 5000
              characters
              are
              allowed.
            </div>
          </div>
        </div>
        <button type="button"
                class="btn btn-sm btn-primary mb-2"
                title="Add another code section"
                (click)="addEmptyCodeSnippet(i)">
          <i class="fa fa-plus"></i> Add
        </button>
        <button type="button"
                class="btn btn-sm btn-danger mb-2 ml-2"
                title="Remove code section"
                [disabled]="codeSnippetsFormArray.controls.length < 2"
                (click)="removeCodeSnippet(i)">
          <i class="far fa-trash-alt"></i> Remove
        </button>
      </div>
    </div>

    <div class="form-group pt-2 pb-3">
      <label for="sourceUrl">Source URL</label>
      <input type="url"
             class="form-control"
             id="sourceUrl"
             formControlName="sourceUrl"
             placeholder='Where the code snippets are inspired from'>
    </div>

    <div *ngIf="!copyToMine && !codelet.public && !codelet.copiedFromId" class="form-check mb-4 mt-1">
      <label class="form-check-label">
        <input
          class="form-check-input"
          type="checkbox"
          value="true"
          formControlName="public"
        >
        <strong> Make Public </strong><span class="make-public-notes"> - visible and searchable for everyone (<em>spam will not be tolerated</em>)</span>
      </label>
    </div>

    <input type="hidden" formControlName="copiedFromId">

    <button *ngIf="codelet.public; else updatePrivateSnippetBtn" type="submit" class="btn btn-primary mr-2"
            [disabled]="!codeletFormGroup.valid">
      Update public snippet <i class="far fa-eye"></i>
    </button>
    <ng-template #updatePrivateSnippetBtn>
      <button type="submit" class="btn btn-primary mr-2" [disabled]="!codeletFormGroup.valid">
        <span *ngIf="copyToMine; else updateText">Create private snippet <i class="far fa-eye-slash"></i></span>
        <ng-template #updateText>
          <span>Update private snippet <i class="far fa-eye-slash"></i></span>
        </ng-template>
      </button>
    </ng-template>
    <button type="button" class="btn btn-danger" (click)="openDeleteDialog()">
      Delete <i class="far fa-trash-alt"></i>
    </button>
  </form>
</div>
