<div class="jumbotron jumbotron-fluid">
  <div class="container">

    <h1>Welcome to our Privacy Policy</h1>
    <h3>Your privacy is critically important to us.</h3>

    <p>It is Bookmarks.dev's policy to respect your privacy regarding any information we may collect while operating our
      website. This Privacy Policy applies to <a href="https://www.bookmarks.dev">https://www.bookmarks.dev</a>
      (hereinafter, "us", "we", or "https://www.bookmarks.dev"). We respect your privacy and are committed to protecting
      personally identifiable information you may provide us through the Website. We have adopted this privacy policy
      ("Privacy Policy") to explain what information may be collected on our Website, how we use this information, and
      under what circumstances we may disclose the information to third parties. This Privacy Policy applies only to
      information we collect through the Website and does not apply to our collection of information from other sources.
    </p>
    <p>This Privacy Policy, together with the Terms and conditions posted on our Website, set forth the general rules
      and policies governing your use of our Website. Depending on your activities when visiting our Website, you may be
      required to agree to additional terms and conditions.</p>

    <h2>Website Visitors</h2>
    <p>Like most website operators, Bookmarks.dev collects non-personally-identifying information of the sort that web
      browsers and servers typically make available, such as the browser type, language preference, referring site, and
      the date and time of each visitor request. Bookmarks.dev's purpose in collecting non-personally identifying
      information is to better understand how Bookmarks.dev's visitors use its website. From time to time, Bookmarks.dev
      may release non-personally-identifying information in the aggregate, e.g., by publishing a report on trends in the
      usage of its website.</p>
    <p>Bookmarks.dev also collects potentially personally-identifying information like Internet Protocol (IP) addresses
      for logged in users and for users leaving comments on https://www.bookmarks.dev blog posts. Bookmarks.dev only
      discloses logged in user and commenter IP addresses under the same circumstances that it uses and discloses
      personally-identifying information as described below.</p>

    <h2>Gathering of Personally-Identifying Information</h2>
    <p>Certain visitors to Bookmarks.dev's websites choose to interact with Bookmarks.dev in ways that require Dev
      Bookmarks to gather personally-identifying information. The amount and type of information that Bookmarks.dev
      gathers depends on the nature of the interaction. For example, we ask visitors who sign up at
      https://www.bookmarks.dev to provide a username and email address. You need this to sign in in your personal space
      to fully take advantage of the services offered by the Website. </p>

    <h2>Your Public Contributions</h2>
    <p>You have the possibility to make your bookmarks <strong>public</strong>. Thus you creating a permanent, public
    record. We may use your public contributions, either aggregated with the public contributions of others or
    individually, to create new features or data-related products for you or to learn more about how Bookmarks.dev site
      is used. The public bookmars are also regularly published on Github
      at <a href="https://github.com/CodepediaOrg/bookmarks#readme">https://github.com/CodepediaOrg/bookmarks</a></p>

    <p><strong>Please do not store truly sensitive information on www.bookmarks.dev, there are dedicated tools for
      that</strong></p>

    <h2>Tracking</h2>
    <h3>Tags</h3>
    <p>The site tracks the tags you use on your bookmarks for the sole purpose of generating a list of tags used for
    auto completion</p>

    <h3>Login events</h3>
    <p>We use <a href="https://www.keycloak.org/docs/latest/server_admin/index.html#auditing-and-events">Keycloak Login
    Events</a> for the sole purpose of recognising errors or mal functioning of the system. The events are automatically deleted
      after 30 days.</p>

    <h2>Security</h2>
    <p>The security of your Personal Information is important to us, but remember that no method of transmission over
      the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means
      to protect your Personal Information, we cannot guarantee its absolute security.</p>

    <h2>Links To External Sites</h2>
    <p>Our website contains links to external sites that are not operated by us. If you click on a third party link,
      you will be directed to that third party's site. We strongly advise you to review the Privacy Policy and terms and
      conditions of every site you visit.</p>
    <p>We have no control over, and assume no responsibility for the content, privacy policies or practices of any third
      party sites, products or services.</p>


    <h2>Protection of Certain Personally-Identifying Information</h2>
    <p>Bookmarks.dev discloses potentially personally-identifying and personally-identifying information only to those
      of its employees, contractors and affiliated organizations that (i) need to know that information in order to
      process it on Bookmarks.dev's behalf or to provide services available at Bookmarks.dev's website, and (ii) that
      have agreed not to disclose it to others. Some of those employees, contractors and affiliated organizations may be
      located outside of your home country; by using Bookmarks.dev's website, you consent to the transfer of such
      information to them. Bookmarks.dev will not rent or sell potentially personally-identifying and
      personally-identifying information to anyone. Other than to its employees, contractors and affiliated
      organizations, as described above, Bookmarks.dev discloses potentially personally-identifying and
      personally-identifying information only in response to a subpoena, court order or other governmental request, or
      when Bookmarks.dev believes in good faith that disclosure is reasonably necessary to protect the property or
      rights of Bookmarks.dev, third parties or the public at large.</p>
    <p>If you are a registered user of https://www.bookmarks.dev and have supplied your email address, Bookmarks.dev may
      occasionally send you an email to tell you about new features, solicit your feedback, or just keep you up to date
      with what's going on with Bookmarks.dev and our products. We primarily use our blog to communicate this type of
      information, so we expect to keep this type of email to a minimum. If you send us a request (for example via a
      support email or via one of our feedback mechanisms), we reserve the right to publish it in order to help us
      clarify or respond to your request or to help us support other users. Bookmarks.dev takes all measures reasonably
      necessary to protect against the unauthorized access, use, alteration or destruction of potentially
      personally-identifying and personally-identifying information.</p>


    <h2>Cookies</h2>
    <p>To enrich and perfect your online experience, Bookmarks.dev uses "Cookies", similar technologies and services
      provided by others to display personalized content, appropriate advertising and store your preferences on your
      computer.</p>
    <p>A cookie is a string of information that a website stores on a visitor's computer, and that the visitor's browser
      provides to the website each time the visitor returns. Bookmarks.dev uses Keycloak cookies, our open source identity provider, to enable SSO services, and
      to enable automatic login in the browser. Bookmarks.dev
      visitors who do not wish to have cookies placed on their computers should set their browsers to refuse cookies
      before using Bookmarks.dev's websites, with the drawback that certain features of Bookmarks.dev's websites may not
      function properly without the aid of cookies.</p>
    <p>By continuing to navigate our website without changing your cookie settings, you hereby acknowledge and agree to
      Bookmarks.dev's use of cookies.</p>


    <h2>Privacy Policy Changes</h2>
    <p>Although most changes are likely to be minor, Bookmarks.dev may change its Privacy Policy from time to time, and
      in Bookmarks.dev's sole discretion. Bookmarks.dev encourages visitors to frequently check this page for any
      changes to its Privacy Policy. Your continued use of this site after any change in this Privacy Policy will
      constitute your acceptance of such change.</p>


    <h2></h2>
    <p></p>

    <h2>Credit & Contact Information</h2>
    <p>This privacy policy was partially created at <a style="color:inherit;text-decoration:none;"
                                             href="https://termsandconditionstemplate.com/privacy-policy-generator/"
                                             title="Privacy policy template generator" target="_blank">termsandconditionstemplate.com</a>.
      If you have any questions about this Privacy Policy, please contact us via <a href="mailto:ama@codingpedia.org">email</a>
      or <a href="tel:0041796705045">phone</a>.</p>

  </div>
</div>
