<h2 mat-dialog-title>Delete Bookmark</h2>

<hr>

<mat-dialog-content>
  Are you sure you want to delete the following bookmark?
  <p><strong>{{bookmark.name}}</strong></p>

  <div *ngIf="this.bookmark.likes > 1 || (this.bookmark.likes === 1 && !(userData$ | async).likes.includes(this.bookmark._id))" class="alert alert-warning" role="alert">
    Please take into consideration that might have added this bookmark to their Favorites!
  </div>
</mat-dialog-content>

<hr>

<mat-dialog-actions class="app-dialog-actions">
  <button type="button" class="btn btn-danger btn-sm" (click)="delete()"><i class="far fa-trash-alt"></i> Delete
  </button>
  <button type="button" class="btn btn-primary btn-sm" (click)="close()">Cancel</button>
</mat-dialog-actions>
