.find-elsewhere-options {
  font-size: 1.05rem;
  margin-top: 1rem;
  padding-left: 2rem;
  span {
    margin-right: 1rem;
  }
  a {
    display: inline;
    vertical-align: middle;
    font-size: 1.02rem;
  }
}
