<div class="bookmarks-list" *ngFor="let bookmark of bookmarks | async; let i=index" >
  <div *ngIf="i < shownSize" class="card">
    <div class="card-body show-hide">
      <div class="header-wrapper">
        <div class="titles">
          <h5 class="card-title"><a href="{{bookmark.location}}" target="_blank" [innerHtml]="bookmark.name | highlight: queryText" (click)="onBookmarkLinkClick(bookmark)"></a></h5>
          <h6 class="card-subtitle mb-2 text-muted url-under-title"><span [innerHtml]="bookmark.location | slice:0:150 | highlight: queryText"></span></h6>
        </div>
        <div *ngIf="userIsLoggedIn" style="display: flex">
          <span *ngIf="!userData?.pinned?.includes(bookmark._id) else markedAsPinned" class="clock-wrapper" title="Pin bookmark" (click)="addToPinned(bookmark)"><i class="fas fa-thumbtack fa-rotate-90"></i></span>
          <ng-template #markedAsPinned>
            <span class="clock-wrapper" title="Unpin bookmark" (click)="removeFromPinned(bookmark)"><i class="fas fa-thumbtack"></i></span>
          </ng-template>
          <span *ngIf="!userData?.readLater?.includes(bookmark._id) else markedAsReadLater" class="clock-wrapper" title="Read later" (click)="addToReadLater(bookmark)"><i class="far fa-clock"></i></span>
          <ng-template #markedAsReadLater>
            <span class="clock-wrapper" title="Remove from Read later" (click)="removeFromReadLater(bookmark)"><i class="fas fa-clock"></i></span>
          </ng-template>
        </div>
      </div>

      <hr class="title-content-separator">
      <app-bookmark-text [bookmark]="bookmark" [queryText]="queryText"></app-bookmark-text>
      <div class="edit-buttons-wrapper" *ngIf="bookmark.userId == userId">
        <button type="button" class="btn btn-primary btn-sm" (click)="gotoDetail(bookmark)"><i class="far fa-edit"></i> Edit</button>
        <button type="button" class="btn btn-danger btn-sm" (click)="openDeleteDialog(bookmark)"><i class="far fa-trash-alt"></i> Delete</button>
      </div>
    </div>
    <div class="card-footer">
      <div class="tags-group">
        <div class="input-group-sm  mb-2 mb-sm-0 star-group">
            <span *ngIf="userIsLoggedIn && userData?.stars?.indexOf(bookmark._id) !== -1 else emptyStar" class="input-group-text star-span" id="btnGroupAddon2" (click)="unstarBookmark(bookmark)" style="cursor:pointer">
              <i class="fas fa-star"></i>
            </span>
          <ng-template #emptyStar>
              <span class="input-group-text star-span" id="btnGroupAddon3" (click)="starBookmark(bookmark)" style="cursor:pointer">
                <i class="far fa-star"></i>
              </span>
          </ng-template>
          <span>{{bookmark.stars}}</span>
        </div>
        <span *ngIf="bookmark.publishedOn" class="badge  badge-info float-xs-left"><i class="fa fa-calendar-alt"></i> {{bookmark.publishedOn | date:"yyyy-MM-dd"}}</span>
        <span *ngIf="bookmark.githubURL" class="badge  badge-primary float-xs-left"><a href="{{bookmark.githubURL}}" target="_blank"><i class="fab fa-github"></i> Source code</a></span>
        <a *ngFor="let tag of bookmark.tags" [routerLink]="['/tagged', tag]">
          <span class="badge badge-secondary float-xs-left" [innerHtml]="tag | highlight: queryText"></span>
        </a>

      </div>
    </div>
  </div>
</div>
