<div class="show-hide" #codingmarkText>
  <div class="bigger-text-wrapper" *ngIf="viewHeight > 100 else wholeText">
    <div [ngClass]="{show: shouldShow, text: !shouldShow}" *ngIf="!codingmark.descriptionHtml && codingmark.description" class="card-text" [innerHtml]="codingmark.description | highlight: queryText"></div>
    <div [ngClass]="{show: shouldShow, text: !shouldShow}" *ngIf="codingmark.descriptionHtml" [innerHtml]="codingmark.descriptionHtml | highlightHtml: queryText"></div>
    <button (click)="shouldShow = !shouldShow"> Show/Hide </button>
    <br/>
  </div>
  <ng-template #wholeText>
    <div *ngIf="!codingmark.descriptionHtml && codingmark.description" class="card-text" [innerHtml]="codingmark.description | highlight: queryText"></div>
    <div *ngIf="codingmark.descriptionHtml" [innerHtml]="codingmark.descriptionHtml | highlightHtml: queryText"></div>
  </ng-template>
</div>
