.less_text {
  height: 120px;
  overflow: hidden;
}

.more_text {
  overflow: visible;
}

.more-text-wrapper {
  margin-bottom: 21px;
}
.show_less_button:after{
  font-family: FontAwesome;
  content: "SHOW LESS \f0aa";
}
.show_more_button:after{
  font-family: FontAwesome;
  content: "SHOW MORE \f0ab";
}

.toggle-show-more-button {
  opacity: 0.55;
  margin-top: 0.5rem;
  background-color: white;
  border: none;
  font-weight: bolder;
  box-shadow: 0px 2px 3px 0px #ccc;
}
