//https://stackoverflow.com/questions/16026867/show-more-feature-with-css
.text {
  height: 100px;
  overflow: hidden;
}
.show-hide {
  position: relative;
}
.bigger-text-wrapper {
  margin-bottom: 40px;
}
label {
  position: absolute;
  top: 100%;
}
input {
  display: none;
}
label:after {
  font-family: FontAwesome;
  font-size: 1.1rem;
  font-weight: bolder;
  content: "Show More \f0ab";
}
input:checked + label:after {
  font-family: FontAwesome;
  content: "Show Less \f0aa";
}
input:checked ~ div {
  height: 100%;
}
