<div id="about-content" class="jumbotron">
  <h2 class="display-4">Bookmarking for Developers & Co</h2>
  <p class="lead">Codever is a bookmarks and code snippets manager created and designed primarily for developers and people who work
    in the information industry. We are also building the ultimate curated list of dev resources at <a
      href="https://github.com/codeverland/bookmarks#readme">https://github.com/codeverland/bookmarks</a>.
    You can help by making worthy bookmarks <strong>public</strong> and rating existing ones. Check our <a
      href="{{environment.HOST}}/howto">HowTo</a>
    page to get you started.
  <p>
    Bookmarking and retrieval of bookmarks and code snippets is made easy with the help of:
  <ul>
    <li><strong><a
      title="Bookmarklets page"
      href="{{environment.HOST}}/bookmarklets">
      <i class="fas fa-bookmark"></i>
      Bookmarklets
    </a></strong> - drag one of the bookmarklet links mentioned to your browser toolbar</li>
    <li>Use the <a
      href="https://chrome.google.com/webstore/detail/save-url-to-bookmarksdev/diofdblfhjbpgackifolmboaiccmebjb"><i
      class="fab fa-chrome"></i> Save link to Codever</a> chrome extension for Chromium based browsers - same behaviour
      as the first bookmarklet
    </li>
    <li><a href="https://www.codever.land/?tab=read-later"><i class="fas fa-clock"></i> Read Later</a> - list of
      bookmarks to read later
    </li>
    <li><a href="https://www.codever.land/?tab=pinned"><i class="fas fa-thumbtack"></i> Pinned</a> - pin the bookmarks
      you intensively use currently
    </li>
    <li><a href="https://www.codever.land/?tab=favorites"><i class="fas fa-star"></i> Favorites</a> - add public
      bookmarks to favorites to find them in your personal searches
    </li>
    <li><strong>Save searches</strong> to use later for easier pin pointing known bookmarks</li>
    <li><strong>Code snippets <i class="fa fa-code"></i></strong> - special kind of bookmarks where you save small pieces of code
    to recall later</li>
  </ul>

  <p>You can also choose only to browse our public repository of bookmarks. There are lots of good and curated resources
    from <a href="https://www.codever.land/?q=%5Bfree-programming-books%5D&sd=public&tab=search-results">free
      programming books</a>,
    to <a href="https://www.codever.land/?q=%5Bblog%5D&sd=public&tab=search-results">tech blogs</a> covering most
    programming language and
    <a href="https://www.codever.land/?q=%5Bpodcast%5D&sd=public&tab=search-results">dev podcasts</a></p>

  <div class="bookmarks-context">
    <img src="./assets/bookmarks-dev-context.png" alt="Codever Context Diagram" style="align-content: center;"/>
  </div>
</div>

