<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand"  [routerLink]="['']" routerLinkActive="active">
    <img src="assets/logo.png" width="60" height="60" class="d-inline-block align-middle" alt="Logo Dev Bookmarks">
    Bookmarks
  </a>
    <ul class="nav">
      <li class="nav-item">
        <button type="button" class="btn btn-primary" routerLink="/personal/new"> <i class="fa fa-plus"></i> Add new bookmark</button>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about" routerLinkActive="active">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="http://www.codingpedia.org/tags/#codingmarks" target="_blank">Blog</a>
      </li>
      <li *ngIf="isLoggedIn else notLoggedIn" class="nav-item">
        <a class="nav-link" (click)="logout()">Logout <i class="fa fa-lock"></i></a>
      </li>
      <ng-template #notLoggedIn>
        <li class="nav-item">
          <a class="nav-link" (click)="login()">Login <i class="fa fa-unlock"></i> / Register</a>
        </li>
      </ng-template>
    </ul>
</nav>
