<h2 mat-dialog-title>Select tag(s) to add to search query</h2>

<hr />

<mat-form-field class="example-chip-list">
  <mat-label>{{ tagsLabel }}</mat-label>
  <mat-chip-list #chipList aria-label="Tag selection">
    <mat-chip
      *ngFor="let tag of tags"
      [selectable]="selectable"
      [removable]="removable"
      (removed)="remove(tag)"
    >
      {{ tag.name }}
      <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="Type to filter..."
      #tagInput
      [formControl]="tagCtrl"
      [matAutocomplete]="auto"
      [matChipInputFor]="chipList"
      [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
      (matChipInputTokenEnd)="add($event)"
    />
  </mat-chip-list>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
    <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
      {{ tag.name }} <span class="badge badge-light">{{ tag.count }}</span>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>

<mat-dialog-actions class="app-dialog-actions">
  <button
    type="button"
    [disabled]="tags.length == 0"
    class="btn btn-primary btn-sm mr-2"
    (click)="addTagsToSearch()"
  >
    Add tags to search query
  </button>
  <button type="button" class="btn btn-secondary btn-sm" (click)="cancel()">
    Cancel
  </button>
</mat-dialog-actions>
