<button type="button" class="btn btn-primary" (click)="goToAddNewPersonalBookmark()" style="margin-top: 1rem"> <i class="fa fa-plus"></i> Add new bookmark</button>
<app-codingmark-search [codingmarks]="personalCodingmarks$" [query]="query" [context]="'Personal'" [userData]="userData"></app-codingmark-search>
<hr style="margin-top: 0;">
<h3>Personal bookmarks</h3>


<mat-tab-group (selectedTabChange)="tabSelectionChanged($event)">
  <mat-tab>
    <ng-template mat-tab-label >
      <span class="app-tab-label">History  &nbsp;<i class="fas fa-user-clock"></i></span>
    </ng-template>
    <app-async-codingmark-list [codingmarks]="personalCodingmarks$" [shownSize]="10" [userData]="userData"></app-async-codingmark-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label">Read Later  &nbsp;<i class="fas fa-clock"></i></span>
    </ng-template>
    <app-async-codingmark-list [codingmarks]="laterReads$" [shownSize]="30" [userData]="userData"></app-async-codingmark-list>
  </mat-tab>
</mat-tab-group>
