<app-bookmark-search [bookmarks]="personalAndStarredBookmarks$" [query]="query" [context]="'Personal and starred '" [userData]="userData"></app-bookmark-search>
<hr style="margin-top: 0;">
<div class="personal-list-header">
  <h3>Personal bookmarks</h3>
  <button type="button" class="btn btn-primary" (click)="goToAddNewPersonalBookmark()"> <i class="fa fa-plus"></i> Add new bookmark</button>
</div>

<mat-tab-group (selectedTabChange)="tabSelectionChanged($event)">
  <mat-tab>
    <ng-template mat-tab-label >
      <span class="app-tab-label">History  &nbsp;<i class="fas fa-user-clock"></i></span>
    </ng-template>
    <app-async-bookmark-list [bookmarks]="personalAndStarredBookmarks$" [shownSize]="10" [userData]="userData"></app-async-bookmark-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label">Read Later  &nbsp;<i class="fas fa-clock"></i></span>
    </ng-template>
    <app-async-bookmark-list [bookmarks]="laterReads$" [shownSize]="30" [userData]="userData"></app-async-bookmark-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label">Stars  &nbsp;<i class="fas fa-star"></i></span>
    </ng-template>
    <app-async-bookmark-list [bookmarks]="starredBookmarks$" [shownSize]="30" [userData]="userData"></app-async-bookmark-list>
  </mat-tab>
  <mat-tab>
    <ng-template mat-tab-label>
      <span class="app-tab-label">Watched tags  &nbsp;<i class="fas fa-eye"></i></span>
    </ng-template>
    <div *ngIf="userData" class="personal-followed-tags">
      <a *ngFor="let tag of userData.watchedTags" [routerLink]="['/tagged', tag]" class="badge badge-secondary" target="_blank">{{tag}}</a>
      <div class="clear"></div>
    </div>
    <app-async-bookmark-list [bookmarks]="bookmarksForWatchedTags$" [shownSize]="30" [userData]="userData"></app-async-bookmark-list>
  </mat-tab>
</mat-tab-group>
