<button type="button" class="btn btn-primary" (click)="goToAddNewPersonalBookmark()" style="margin-top: 1rem"> <i class="fa fa-plus"></i> Add New Bookmark</button>
<app-bookmark-search [bookmarks]="userBookmarks" [query]="query" [context]="'personal'"></app-bookmark-search>
<hr style="margin-top: 0;">
<h3>Personal bookmarks</h3>
<ul class="nav nav-tabs" style="margin-top: 1em">
  <li class="nav-item">
    <a class="nav-link personal-tabs" [ngClass]="{active: showLastAccessed}" (click)="toggleLastAccessed()">Last visited</a>
  </li>
  <li class="nav-item">
    <a class="nav-link personal-tabs" [ngClass]="{active: !showLastAccessed}" (click)="toggleLastModified()">Last modified</a>
  </li>
</ul>
<br/>

<div *ngIf="showLastAccessed;else lastModified">
  <app-async-bookmark-list [bookmarks]="userBookmarks" [shownSize]="10"></app-async-bookmark-list>
</div>

<ng-template #lastModified>
  <app-async-bookmark-list [bookmarks]="userBookmarksLastUpdated" [shownSize]="10"></app-async-bookmark-list>
</ng-template>

