<div id="public-search-box">
  <div *ngIf="publicCodingmarks$">
    <app-bookmark-search [bookmarks]="publicCodingmarks$" [query]="query" [context]="'public'"></app-bookmark-search>
  </div>

  <mat-tab-group>
    <mat-tab label="Recent">
      <app-async-codingmark-list [bookmarks]="publicCodingmarks$" [shownSize]="30"></app-async-codingmark-list>
    </mat-tab>
    <mat-tab label="Tags">
      <div class="tags-group">
        <span *ngFor="let tag of tags" class="badge badge-secondary float-xs-left" (click)="onTagClick(tag)" style="cursor: pointer">{{tag}}</span>
        <div class="clear"></div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
