<div *ngIf="userData$ | async; else loading" class="navigation-space-buffer">
  <h3>From which topics should posts be selected in My Feed?</h3>
  <mat-radio-group
    aria-labelledby="example-radio-group-label"
    class="example-radio-group"
    [(ngModel)]="feedTopic">
    <mat-radio-button class="example-radio-button" [value]="'my-watched-tags'" (change)="selectionChange($event)">
      From my           <a
      [routerLink]="['/dashboard']"
      [queryParams]="{tab: 'tags'}"
      title="Go to My Tags in dashboard"
    >
      watched tags
    </a>
    </mat-radio-button>
    <mat-radio-button class="example-radio-button" [value]="'all-public'" (change)="selectionChange($event)">
      All public
    </mat-radio-button>
  </mat-radio-group>
</div>

<ng-template #loading>
  Loading Feed settings...
</ng-template>
