<div class="container">
  <div *ngIf="publicBookmarks">
    <bookmark-search [bookmarks]="publicBookmarks" [query]="query"></bookmark-search>
  </div>
  <h2>Tags</h2>
  <div class="tags-group">
    <span *ngFor="let tag of tags" class="tag tag-default tag-pill float-xs-left"><a href="#{{tag.name}}">{{tag.name}}</a></span>
    <div class="clear"></div>
  </div>

  <hr>
  <div *ngFor="let tag of tags">
    <br>
    <h3 id="{{tag.name}}">{{tag.name}}</h3>
    <div class="list-group">
      <div *ngFor="let bookmark of tag.bookmarks" class="list-group-item list-group-item-action">
        <h5 class="list-group-item-heading"> <a href="{{bookmark.location}}" target="_blank">{{ bookmark.name }}</a></h5>
        <p class="list-group-item-text url-under-title"> <a href="{{bookmark.location}}" target="_blank" style="text-decoration: none">{{ bookmark.location }}</a></p>
        <p *ngIf="!bookmark.descriptionHtml" class="list-group-item-text">{{ bookmark.description }}</p>
        <div *ngIf="bookmark.descriptionHtml"  [innerHtml]="bookmark.descriptionHtml"></div>
        <hr>
        <div class="tags-group">
          <span *ngIf="bookmark.publishedOn" class="tag tag-pill  tag-info float-xs-left"><i class="fa fa-calendar"></i> {{bookmark.publishedOn | date:"yyyy-MM-dd"}}</span>
          <span *ngIf="bookmark.githubURL" class="tag tag-pill  tag-primary float-xs-left"><a href="{{bookmark.githubURL}}" target="_blank"><i class="fa fa-github"></i> GitHub URL</a></span>
          <span *ngFor="let bookmarkTag of bookmark.tags" class="tag tag-default tag-pill float-xs-left"><a href="#{{bookmarkTag.trim()}}">{{bookmarkTag}}</a></span>
        </div>
        <div class="clear"></div>
      </div>
    </div>
  </div>
</div>
