<a *ngIf="withWindowDialog; else noPopup"
   style="cursor: move;"
   class="text-decoration-none"
   title="Drag to your browser bookmark bar for easy bookmarking"
   href="javascript:(function(){let l=location.href;if(document.getSelection){d=document.getSelection()}else{d=''}let t=document.title;let w,h;if(innerWidth>1400){w=930}else{w=(innerWidth*65)/100}if(innerHeight>1400){h=1150}else{h=(innerHeight*90)/100};let features=`toolbar=no,width=${w},height=${h},top=${innerHeight-h},left=${innerWidth - w}`;open('https://www.codever.dev/my-snippets/new?sourceUrl='+encodeURIComponent(l)+'&code='+encodeURIComponent(d)+'&title='+encodeURIComponent(t)+'&popup=true','Codever',features);})();">
  +Snippet <i class="fas fa-arrows-alt ml-1"></i>
</a>
<ng-template #noPopup>
  <a
    style="cursor: move;"
    class="text-decoration-none"
    title="Drag to your browser bookmark bar for easy bookmarking"
    href="javascript:(function(){q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};t=document.title;location.href='https://www.codever.dev/my-snippets/new?sourceUrl='+encodeURIComponent(q)+'&code='+encodeURIComponent(d)+'&title='+encodeURIComponent(t)})();">
    +Snippet - no popup <i class="fas fa-arrows-alt ml-1"></i>
  </a>
</ng-template>
