<h2 mat-dialog-title>Share Bookmark</h2>

<hr>

<mat-dialog-content>
  <div class="share-buttons-wrapper">
    <div class="row">
      <div class="col">
        <a
          type="button" class="btn btn-light btn-sm"
          title="Copy bookmark link"
        (click)="copyToClipboard(bookmark.location)">
          <i class="far fa-copy" style="font-size: smaller"></i> {{copyLinkButtonText}}
        </a>
      </div>
      <div class="col">
        <a
          type="button" class="btn btn-light btn-sm"
          href="mailto:?subject={{bookmark.name + ' via Codever'}}&body={{bookmark.location}}"
          title="Share link via Email">
          <i class="far fa-envelope"></i> Email
        </a>
      </div>
      <div class="col">
        <tweet
          [url]="bookmark.location"
          [text]="tweetText"
          [hashTags]="tagsStr"
          (click)="onShareButtonClick()">
        </tweet>
      </div>
    </div>
  </div>


</mat-dialog-content>

<hr>

<mat-dialog-actions class="app-dialog-actions" align="end">
  <button type="button" class="btn btn-primary btn-sm" (click)="cancel()">Close</button>
</mat-dialog-actions>
