<h2 mat-dialog-title>Bookmark's main URL</h2>
<mat-dialog-content class="social-share-dialog-content">
  <div class="share-buttons-wrapper">
    <div class="row">
      <div class="col">
        <a
          type="button"
          class="btn btn-light btn-sm"
          title="Copy bookmark link"
          (click)="copyToClipboard(bookmark.location, 'linkButton')"
        >
          <i class="far fa-copy" style="font-size: smaller"></i>
          {{ copyLinkButtonText }}
        </a>
      </div>
      <div class="col">
        <a
          type="button"
          class="btn btn-light btn-sm"
          href="mailto:?subject={{ bookmark.name + ' via Codever' }}&body={{
            bookmark.location
          }}"
          title="Share link via Email"
        >
          <i class="far fa-envelope"></i> Email
        </a>
      </div>
      <div class="col">
        <tweet
          [url]="bookmark.location"
          [text]="tweetText"
          [hashTags]="tagsStr"
          (click)="onShareButtonClick()"
        >
        </tweet>
      </div>
    </div>
    <div class="clear"></div>

    <hr />

    <div
      *ngIf="
        userOwnsBookmark &&
        userIsLoggedIn &&
        (shareableId$ | async)?.shareableId as shareableId
      "
    >
      <h5>Codever shareable link</h5>
      <div class="input-group mb-3 mt-3">
        <input
          type="text"
          class="form-control"
          placeholder="Generate Codever sharable Url"
          aria-describedby="basic-addon2"
          value="{{ environment.HOST + '/bookmarks/shared/' + shareableId }}"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            (click)="
              copyToClipboard(
                environment.HOST + '/bookmarks/shared/' + shareableId,
                'shareableLinkButton'
              )
            "
          >
            {{ copyLinkButtonShareableText }}
          </button>
        </div>
      </div>
      <div *ngIf="!bookmark.public" class="alert alert-warning mt-2">
        <i class="fas fa-info-circle mr-1"></i> Anyone with the
        <b>shareable link</b> can access it
      </div>
    </div>
  </div>
</mat-dialog-content>

<mat-dialog-actions class="app-dialog-actions" align="end">
  <button type="button" class="btn btn-primary" (click)="cancel()">
    Close
  </button>
</mat-dialog-actions>
