@if (followers$ | async; as followers) {
  <div
    style="display: flex"
    >
    @if (followers.length > 0) {
      <div style="display: flex">
        @for (follower of followers; track follower) {
          <div
            class="card user-profile-card"
            style="width: 200px"
            >
            <img
              class="card-img-top"
              src="{{ follower.profile.imageUrl }}"
              alt="User profile image"
              />
            <div class="card-body">
              <h4 class="card-title">{{ follower.profile.displayName }}</h4>
              <p class="card-text social">
                @if (follower.profile.websiteLink) {
                  <a
                    href="{{ follower.profile.websiteLink }}"
                    title="Website"
                    ><i class="fas fa-external-link-alt"></i
                  ></a>
                }
                @if (follower.profile.githubLink) {
                  <a
                    href="{{ follower.profile.githubLink }}"
                    title="Github link"
                    ><i class="fab fa-github"></i
                  ></a>
                }
                @if (follower.profile.twitterLink) {
                  <a
                    href="{{ follower.profile.twitterLink }}"
                    title="Twitter link"
                    ><i class="fab fa-twitter"></i
                  ></a>
                }
                @if (follower.profile.linkedinLink) {
                  <a
                    href="{{ follower.profile.linkedinLink }}"
                    title="LinkedIn link"
                    ><i class="fab fa-linkedin"></i
                  ></a>
                }
              </p>
              <div id="see-profile-link">
                <a
            [routerLink]="[
              '/users',
              follower.userId,
              follower.profile.userDisplayName
            ]"
                  class="btn btn-primary"
                  >See Profile</a
                  >
                </div>
              </div>
            </div>
          }
        </div>
      } @else {
        <div class="alert alert-info" style="margin-top: 1rem; width: 100%">
          <h3>No followers</h3>
          <p>
            You have currently no followers. Start following some people and they
            might follow you back.
          </p>
        </div>
      }
    </div>
  } @else {
    Loading...
  }
