<div id="search-component">
    <input type="text" class="form-control" [formControl]="term" placeholder="Search in public bookmarks...">
</div>

<br>

<div *ngFor="let bookmark of bookmarks | async" class="card">
  <div class="card-block">
    <h4 class="card-title"><a href="{{bookmark.location}}" target="_blank">{{ bookmark.name }}</a></h4>
    <p class="card-text">{{ bookmark.description }}</p>
  </div>
  <div class="card-footer">
    <div class="tags-group">
      <span *ngFor="let tag of bookmark.tags" class="tag tag-default tag-pill float-xs-left">{{tag}} </span>
    </div>
  </div>
</div>
