<h2 mat-dialog-title>Bookmark already public</h2>

<hr>

<mat-dialog-content>
  <p>This URL is <strong>already public</strong> on Bookmarks.dev. You can still save it as <strong>private</strong> and give it a thumbs up to promote it</p>
</mat-dialog-content>

<hr>

<mat-dialog-actions class="app-dialog-actions">
  <button type="button" class="btn btn-primary btn-sm mr-2" (click)="likeBookmark()"><i class="far fa-thumbs-up"></i> Like bookmark
  </button>
  <button type="button" class="btn btn-danger btn-sm" (click)="close()">Cancel</button>
</mat-dialog-actions>
