<div id="about-content" class="jumbotron">
  <h2 data-test="about-entry-title">Bookmarking for Developers & Co</h2>
  <p class="lead mb-2">
    <strong>Codever</strong> is an
    <a href="https://github.com/CodeverDotDev/codever">open source</a> bookmarks
    code snippets and notes manager created and designed primarily for developers and
    co with <strong>markdown</strong> support. We are also building the
    ultimate curated list of dev resources at
    <a href="https://github.com/CodeverDotDev/bookmarks#readme"
      >https://github.com/CodeverDotDev/bookmarks</a
    >. You can help by making worthy bookmarks <strong>public</strong> and
    rating existing ones. Check our
    <a href="{{ environment.HOST }}/howto">HowTo</a> page to get you started.
  </p>

  <p>
    <app-extensions></app-extensions>
  </p>

  <div class="mt-2">
    We also offer easy access to:
    <ul>
      <li>
        <a href="https://www.codever.dev/?tab=history"
          ><i class="fas fa-clock"></i> History</a
        >
        - to easy access your last visited bookmarks (available also via the
        <strong>Ctrl + h</strong> shortcut)
      </li>
      <li>
        <a href="https://www.codever.dev/?tab=read-later"
          ><i class="fas fa-clock"></i> Read Later</a
        >
        - list of bookmarks to read later
      </li>
      <li>
        <a href="https://www.codever.dev/?tab=pinned"
          ><i class="fas fa-thumbtack"></i> Pinned</a
        >
        - pin the bookmarks you intensively use currently (available also via
        the
        <strong>Ctrl + p</strong> shortcut)
      </li>
      <li>
        <strong>Save searches</strong> to use later for easier pin pointing
        known bookmarks
      </li>
    </ul>
  </div>

  <p>
    In our public repository of bookmarks and snippets, you can browse lots of
    good and curated resources from
    <a
      href="https://www.codever.dev/search?q=%5Bfree-programming-books%5D&sd=public-bookmarks"
      >free programming books</a
    >, to
    <a href="https://www.codever.dev/search?q=%5Bblog%5D&sd=public-bookmarks"
      >tech blogs</a
    >
    covering most programming language and
    <a href="https://www.codever.dev/search?q=%5Bpodcast%5D&sd=public-bookmarks"
      >dev podcasts</a
    >.
  </p>
</div>
