<header>
  <app-navigation></app-navigation>
</header>
<main>
  <app-loader></app-loader>

  <router-outlet></router-outlet>
  <!-- Routed views go here -->
  <app-error></app-error>

  <!-- Github ribbon -->
  <div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
      <a href="https://github.com/Codingpedia/bookmarks#readme" target="_blank">Dev Bookmarks</a>
    </div>
  </div>

</main>
<footer>
  <a [href]="url">Bookmarks.dev</a> | <a href="mailto:bookmarks@codingpedia.org">Contact</a>
</footer>
