label {
  display: inline-block;
  margin: 0.5em 0;
  color: #607d8b;
  font-weight: bold;
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: 0.4em;
}

input[type='checkbox'],
input[type='radio'] {
  vertical-align: middle;
  position: relative;
  bottom: 1px;
}

#shared_label {
  width: 100%;
}

/* TODO(mdc-migration): The following rule targets internal classes of chips that may no longer apply for the MDC version. */
mat-chip {
  max-width: 200px;
}

.demo-chip-list {
  width: 100%;
}

.markdown-link {
  font-weight: normal;
  margin-left: 0.15rem;
}
