.selected {
  background-color: #cfd8dc !important;
  color: white;
}
.bookmarks {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
}
.bookmarks li {
  cursor: pointer;
  position: relative;
  left: 0;
  background-color: #eee;
  margin: 0.5em;
  padding: 0.3em 0;
  height: 1.6em;
  border-radius: 4px;
}
.bookmarks li.selected:hover {
  background-color: #bbd8dc !important;
  color: white;
}
.bookmarks li:hover {
  color: #607d8b;
  background-color: #ddd;
  left: 0.1em;
}
.bookmarks .text {
  position: relative;
  top: -3px;
}
.bookmarks .badge {
  display: inline-block;
  font-size: small;
  color: white;
  padding: 0.8em 0.7em 0 0.7em;
  background-color: #607d8b;
  line-height: 1em;
  position: relative;
  left: -1px;
  top: -4px;
  height: 1.8em;
  margin-right: 0.8em;
  border-radius: 4px 0 0 4px;
}

button.delete {
  float: right;
  margin-top: 2px;
  margin-right: 0.8em;
  background-color: gray !important;
  color: white;
}

.tags-label:after {
  font-family: FontAwesome;
  content: 'SHOW MORE \f02c';
}

.personal-followed-tags {
  font-size: 1.3rem;
  margin-top: 0.8rem;
  a {
    margin-right: 0.5rem;
    padding: 0.3rem;
  }
}

.no-search-results {
  margin-top: 1rem;
}

.tabs-headline-message {
  font-size: 1.2rem;
}

.header-notification-wrapper {
  display: flex;
  justify-content: space-between;
}
