<mat-accordion multi="true">
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5><i class="fa fa-xs fa-search"></i> in My Bookmarks</h5>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <hr class="mt-0" />
      <ng-container
        *ngFor="let mySearch of searches | searchFilter : type : 'my-bookmarks'"
      >
        <span class="my-saved-search mr-2">
          <a
            [routerLink]="['/search']"
            [queryParams]="{ q: mySearch.text, sd: 'my-bookmarks' }"
            class="badge badge-secondary mb-2"
          >
            <i class="fa fa-xs fa-search"></i> {{ mySearch.text }}
            <span *ngIf="showCount" class="badge badge-light">{{
              mySearch.count
            }}</span>
          </a>
        </span>
      </ng-container>
      <div class="clear"></div>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5><i class="fa fa-xs fa-search"></i> in Public Bookmarks</h5>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <hr class="mt-0" />
      <ng-container
        *ngFor="
          let mySearch of searches | searchFilter : type : 'public-bookmarks'
        "
      >
        <span class="my-saved-search mr-2">
          <a
            [routerLink]="['/search']"
            [queryParams]="{ q: mySearch.text, sd: 'public-bookmarks' }"
            class="badge badge-secondary mb-2"
          >
            <i class="fa fa-xs fa-search"></i> {{ mySearch.text }}
            <span *ngIf="showCount" class="badge badge-light">{{
              mySearch.count
            }}</span>
          </a>
        </span>
      </ng-container>
      <div class="clear"></div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h5><i class="fa fa-xs fa-search"></i> in My Snippets</h5>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <hr class="mt-0" />
      <ng-container
        *ngFor="let mySearch of searches | searchFilter : type : 'my-snippets'"
      >
        <span class="my-saved-search mr-2">
          <a
            [routerLink]="['/search']"
            [queryParams]="{ q: mySearch.text, sd: 'my-snippets' }"
            class="badge badge-secondary mb-2"
          >
            <i class="fa fa-xs fa-search"></i>
            {{ mySearch.text }}
            <span *ngIf="showCount" class="badge badge-light">{{
              mySearch.count
            }}</span>
          </a>
        </span>
      </ng-container>
      <div class="clear"></div>
    </ng-template>
  </mat-expansion-panel>
</mat-accordion>
