<div class="dialog-title">
  <h2 mat-dialog-title [innerHTML]="title"></h2>
  <div class="form-group has-search">
    <span class="fas fa-filter form-control-feedback"></span>
    <input
      type="search"
      [(ngModel)]="filterText"
      class="form-control"
      placeholder="Filter..."
    />
  </div>
</div>
<mat-dialog-content
  *ngIf="userDataResources$ | async as userDataResources"
  class="mt-2 pt-1 pb-1"
>
  <mat-accordion>
    <mat-expansion-panel
      *ngFor="
        let userDataResource of userDataResources
          | resourceFilter : filterText as filteredBookmarks;
        index as i
      "
      [expanded]="filteredBookmarks.length === 1"
    >
      <!-- NOTE entry -->
      <ng-container *ngIf="isNote(userDataResource); else bookmarkEntry">
        <mat-expansion-panel-header *ngIf="i < 15">
          <div class="p-3">
            <h5 class="card-title">
              <i class="fa fa-sticky-note fa-xs mr-2 anthracite-gray"></i>
              <a
                [routerLink]="noteDetailsLink(userDataResource)"
                [mat-dialog-close]="true"
                [innerHTML]="userDataResource.title | slice : 0 : 100 | highlightHtml : filterText"
              >
                {{ 'see innerhtml' }}
              </a>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted url-under-title">
              <i class="far fa-calendar-alt"></i>
              {{ userDataResource.updatedAt | date : 'yyyy-MM-dd' }}
            </h6>
          </div>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-note-content [note]="userDataResource" [partOfList]="true"></app-note-content>
        </ng-template>
      </ng-container>

      <!-- BOOKMARK entry -->
      <ng-template #bookmarkEntry>
        <mat-expansion-panel-header *ngIf="i < 15">
          <div class="p-3">
            <h5 class="card-title">
              <a
                href="{{ userDataResource.location }}"
                [innerHTML]="
                  userDataResource.name | slice : 0 : 100 | highlightHtml : filterText
                "
                target="_blank"
                (click)="
                  addToHistoryService.promoteInHistoryIfLoggedIn(true, userDataResource)
                "
                (auxclick)="
                  addToHistoryService.onMiddleClickInDescription(
                    true,
                    $event,
                    userDataResource
                  )
                "
              >
                {{ 'see innerhtml' }}
              </a>
              <sup class="external-link-hint"
                ><i class="fas fa-external-link-alt"></i
              ></sup>
            </h5>
            <h6
              class="card-subtitle mb-2 text-muted url-under-title"
              [innerHTML]="
                userDataResource.location | slice : 0 : 120 | highlightHtml : filterText
              "
            >
              {{ 'see innerhtml' }}
            </h6>
          </div>
        </mat-expansion-panel-header>

        <ng-template matExpansionPanelContent>
          <app-bookmark-text
            [bookmark]="userDataResource"
            [showMoreText]="true"
            (click)="
              addToHistoryService.onClickInDescription(true, $event, userDataResource)
            "
            (auxclick)="
              addToHistoryService.onMiddleClickInDescription(
                true,
                $event,
                userDataResource
              )
            "
          >
          </app-bookmark-text>
        </ng-template>
      </ng-template>
    </mat-expansion-panel>
  </mat-accordion>
</mat-dialog-content>
