@import 'scss/colors';

// styles in src/style directory are applied to the whole page
body {
  background: #FFFFFF;
  overflow: scroll;
}

a {
  color: #4078c0;
}

a:hover {
  cursor: pointer;
}

pre {
  background-color: #f5f5f5;
  border-radius: 3px;
  padding: 12px 8px;
}

.navigation-space-buffer {
  margin-top: 1rem;
  padding: 10px;
}

.description-chars-counter {
  float: right;
  margin-bottom: 0.5rem;
}

//forms - TODO maybe move to own forms.scss file... that is also valid application wide
.ng-valid[required], .ng-valid.required {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form) {
  border-left: 5px solid #a94442; /* red */
}

ul.tags {
  list-style: none;
  display: inline-block;
  padding-left: 0.5rem;
  margin-bottom: 0.2rem;
  font-style: italic;
}

ul.tags li {
  display: inline
}

ul.tags li:not(:last-child):after {
  content: ', ';
}

.tags-group {
  padding: 0.3rem 0 0.3rem 0;
  margin-bottom: 0.3rem;
}

.used-tag {
  font-size: 1.3rem;
  margin-right: 1.3rem;
  white-space: nowrap;

  a {
    padding: 0.3rem;
    margin-top: 0.5rem;
  }

  .tag-count {
    font-size: 1rem;
  }
}

.tag-list {
  a {
    font-weight: 400;
    padding: 0.25rem 0.1rem 0.25rem 0.5rem;
  }
}

.tag-list-header {
  a {
    font-weight: 500;
    padding: 0.25rem 0.1rem 0.25rem 0.5rem;
  }
}

.badge {
  margin-right: 0.3rem;
}

.clear {
  clear: both;
  margin: 0;
  padding: 0;
}

.space-btw-wrapper {
  display: flex;
  justify-content: space-between;
}

.identity-providers-list {
  display: flex;
  ul {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    list-style: none;
    li {
      margin-right: 2rem;
    }
  }
}

// filter search-box
/* Bootstrap 4 text input with search icon */
.has-search {
  width: 30%;

  .form-control {
    padding-left: 2.375rem;
  }
}

.has-search .form-control-feedback {
  position: absolute;
  z-index: 2;
  display: block;
  width: 2.375rem;
  height: 2.375rem;
  line-height: 2.375rem;
  text-align: center;
  pointer-events: none;
  color: #aaa;
}

.url-under-title {
  font-size: small;
  font-style: italic;
}

.app-tab-label {
  font-size: 1.18rem;
}

pre {
  margin-bottom: 1em;
  padding: 12px 8px;
  width: auto;
  max-height: 800px;
  overflow: auto;
  font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, sans-serif;
  font-size: 13px;
  background-color: #eff0f1;
  border-radius: 3px
}

.note_normal {
  border-style: solid;
  border-width: 1px;
  border-color: #f6ce8e;
  background-color: #f7f5e7;
  margin: 10px;
  padding: 10px;
  font-style: italic;
}

.image-container {
  display: flex;
  justify-content: center;
}

//highlight
.highlight {
  background: yellow;
  color: black;
  font-weight: bolder;
}

.star-group {
  display: inline-flex;
  height: 1.4rem;
  vertical-align: middle;
  margin-right: 1.5rem;

  input:nth-child(2) {
    width: 1.8rem;
  }
}

// push profile link to bottom - https://stackoverflow.com/questions/585945/how-to-align-content-of-a-div-to-the-bottom
.user-profile-card {
  margin-right: 1rem;
  margin-top: 1rem;

  position: relative;
  min-height: 340px;

  .social {
    a {
      font-size: 1.2rem;
      padding-right: 0.5rem;
    }
  }

  #see-profile-link {
    position: absolute;
    bottom: 10px;
    left: 10px;
  }
}


.private-bookmark {
  background-color: linen;
}

.note-bg {
  background-color: lightyellow;
}


@media (max-width: 1349px) {
  .github-fork-ribbon {
    display: none;
  }
}

// version 4
@import 'scss/variables';
@import '~bootstrap/scss/bootstrap';
@import 'scss/bootstrap-override';
@import '~@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import "@angular/material/prebuilt-themes/indigo-pink.css";

label {
  width: 100%;
  font-weight: 600;
}

.full-width {
  width: 100%;
}

.code-snippet-wrapper {
  margin-top: -0.5rem;
}

.main-body {
  margin-top: 5rem;
}

.page-body {
  background-color: rgb(240, 242, 245);
}

@media (max-width: 680px) {
  .main-body {
    margin-top: 7rem
  }
}

.snippet-comment-txt {
  height: 6rem;
}

#sidebar-wrapper .list-group {
  width: 18rem;
}
