<div class="card">
  <div class="card-body show-hide" [ngClass]="{'private-bookmark': bookmark.public === false}">
    <div class="header-wrapper">
      <div class="titles">
        <h5 class="card-title">
          <i *ngIf="bookmark.youtubeVideoId" class="fab fa-youtube youtube-icon"
             (click)="playYoutubeVideo(bookmark)"
             title="Play video"></i>
          <i *ngIf="bookmark.stackoverflowQuestionId" class="fab fa-stack-overflow stackoverflow-icon"></i>
          <a href="{{bookmark.location}}" target="_blank" [innerHtml]="bookmark.name | highlight: queryText"
             (click)="onBookmarkLinkClick(bookmark)"></a>
          <sup class="external-link-hint"><i class="fas fa-external-link-alt"></i></sup>
        </h5>
        <h6 class="card-subtitle mb-2 text-muted url-under-title">
              <span *ngIf="bookmark.public">
                Posted by <a [routerLink]="['/users', bookmark.userId, bookmark.userDisplayName]">{{bookmark.userDisplayName}}</a> -
              </span>
          <span
            [innerHtml]="bookmark.location | slice:0:150 | highlight: queryText"></span></h6>
      </div>
      <div style="display: flex">
            <span *ngIf="!(userData$ | async)?.pinned?.includes(bookmark._id) else markedAsPinned" class="clock-wrapper"
                  title="Pin bookmark" (click)="addToPinned(bookmark)">
            <i class="fas fa-thumbtack"></i>
          </span>
        <ng-template #markedAsPinned>
            <span class="clock-wrapper" title="Unpin bookmark" (click)="removeFromPinned(bookmark)"><i
              class="fas fa-thumbtack fa-rotate-90 pinned"></i></span>
        </ng-template>
        <span *ngIf="!(userData$ | async)?.readLater?.includes(bookmark._id) else markedAsReadLater"
              class="clock-wrapper" title="Read later" (click)="addToReadLater(bookmark)">
            <i class="far fa-clock"></i>
          </span>
        <ng-template #markedAsReadLater>
            <span class="clock-wrapper" title="Remove from Read later" (click)="removeFromReadLater(bookmark)"><i
              class="fas fa-clock"></i></span>
        </ng-template>
      </div>
    </div>

    <hr class="title-content-separator">
    <app-bookmark-text [bookmark]="bookmark" [queryText]="queryText"></app-bookmark-text>
    <a *ngIf="bookmark.sourceCodeURL"
       class="btn btn-light btn-sm float-xs-left tag-list mr-2"
       href="{{bookmark.sourceCodeURL}}"
       target="_blank"
       title="Source code URL">
      <i class="fab fa-github"></i> Source code <sup><i class="fas fa-external-link-alt fa-sm"></i></sup>
    </a>
    <button *ngIf="bookmark.publishedOn"
            class="btn btn-light btn-sm float-xs-left tag-list"
            style="cursor: default"
            title="Published on"
            disabled><i
      class="fa fa-calendar-alt"></i> Published {{bookmark.publishedOn | date:"yyyy-MM-dd"}}</button>
  </div>
  <div class="card-footer" style="padding-right: 0.3rem">
    <div class="tags-group">
      <div class="input-group-sm  mb-2 mb-sm-0 star-group">
            <span *ngIf="userIsLoggedIn && (userData$ | async)?.likes?.indexOf(bookmark._id) !== -1 else likeOption"
                  title="UnLike" class="mr-1" (click)="unLikeBookmark(bookmark)" style="cursor:pointer">
               <i class="fas fa-thumbs-up fa-lg"></i>
            </span>
        <ng-template #likeOption>
              <span class="mr-1" title="Like" (click)="likeBookmark(bookmark)" style="cursor:pointer">
                <i class="far fa-thumbs-up"></i>
              </span>
        </ng-template>
        <span>{{bookmark.likeCount}}</span>
      </div>
      <div *ngFor="let tag of bookmark.tags" class="btn-group tag-list  mr-2 mt-1">
        <a class="btn btn-secondary btn-sm"
           [routerLink]="['/tagged', tag]"
           title="Show bookmarks tagged {{tag}}"
           [innerHtml]="tag | highlight: queryText">
          {{tag}}
        </a>
        <button
          type=" button"
          class="btn btn-secondary btn-sm dropdown-toggle dropdown-toggle-split"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          (click)="onDropDownClick(tag)">
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <div class="dropdown-menu">
          <a
            *ngIf="(verifyForWatchedTag | async) === tag && (userData$ | async)?.watchedTags.includes(tag); else watchTagOption"
            class="dropdown-item"
            (click)="unwatchTag(tag)"><i class="fas fa-eye-slash"> </i> Unwatch tag
          </a>
          <ng-template #watchTagOption>
            <a (click)="watchTag(tag, userIsLoggedIn)" class="dropdown-item"><i class="fas fa-eye"></i> Watch tag
            </a>
          </ng-template>
          <a
            *ngIf="(verifyForWatchedTag | async) === tag && (userData$ | async)?.ignoredTags.includes(tag); else ignoreTagOption"
            class="dropdown-item"
            (click)="unignoreTag(tag)"><i class="fas fa-ban"></i> Unignore tag
          </a>
          <ng-template #ignoreTagOption>
            <a (click)="ignoreTag(tag, userIsLoggedIn)" class="dropdown-item"><i class="fas fa-ban"></i> Ignore tag
            </a>
          </ng-template>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/tagged', tag]"><i class="fas fa-tag"></i> Tag's page </a>
        </div>
      </div>

      <div class="float-right mt-1">
        <button
          *ngIf="(bookmark.userId === (userData$ | async)?.userId) || keycloakService.isUserInRole('ROLE_ADMIN')"
          type="button" class="btn btn-light btn-sm"
          (click)="editBookmark(bookmark)"
          title="Edit bookmark">
          <i  class="far fa-edit"></i> Edit
        </button>
        <button
          *ngIf="(bookmark.userId === (userData$ | async)?.userId) || keycloakService.isUserInRole('ROLE_ADMIN')"
          type="button" class="btn btn-light btn-sm"
          (click)="openDeleteDialog(bookmark)"
          title="Delete bookmark">
          <i class="far fa-trash-alt"></i> Delete
        </button>
        <button
          *ngIf="(bookmark.userId !== (userData$ | async)?.userId)"
          type="button" class="btn btn-light btn-sm"
          (click)="copyToMine(bookmark)"
          title="Save to personal bookmarks">
          <i class="far fa-copy"></i> Copy to mine
        </button>
        <button *ngIf="bookmark.public; else isPrivateBookmark"
                class="btn btn-light btn-sm float-right"
                title="Share on social media"
                (click)="shareBookmark(bookmark)"><i class="fas fa-share"></i> Share
        </button>

      </div>

      <ng-template #isPrivateBookmark>
        <div class="badge badge-light float-xl-right mt-1" title="Private"><i class="fas fa-lock"></i> Private</div>
      </ng-template>
    </div>
  </div>
</div>
