<div *ngIf="(codelet$ | async) as codelet" class="mt-3">
  <div class="card">
    <div class="card-body show-hide">
      <div class="header-wrapper">
        <div class="titles">
          <h4 class="card-title" [innerHtml]="codelet.title | highlight: queryText">
          </h4>
          <h6 class="card-subtitle mb-2 text-muted url-under-title">
            <span *ngIf="codelet.sourceUrl">Source - <a href="{{codelet.sourceUrl}}" target="_blank">{{codelet.sourceUrl}}</a>
              <sup class="ml-1"><i class="fas fa-external-link-alt"></i></sup>
            </span>
          </h6>
        </div>
      </div>

      <hr class="title-content-separator">

      <div *ngFor="let codeSnippet of codelet.codeSnippets; let isLast=last">
        <p *ngIf="codeSnippet.comment" class="mb-0" [innerHtml]="codeSnippet.comment | md2html | highlight: queryText"></p>
        <app-button-copy-snippet [codeSnippet]="codeSnippet.code"></app-button-copy-snippet>
        <div class="clear"></div>
        <pre class="mb-0"><code [highlight]="codeSnippet.code"></code></pre>
        <hr *ngIf="!isLast">
      </div>

    </div>
    <div class="card-footer" style="padding-right: 0.3rem">
      <div class="tags-group">
        <span *ngFor="let tag of codelet.tags" class="badge badge-secondary float-xs-left"
              [innerHtml]="tag | highlight: queryText"></span>

        <div class="float-right mt-1">
          <button
            type="button" class="btn btn-light btn-sm"
            (click)="editCodelet(codelet)"
            title="Edit bookmark">
            <i class="far fa-edit"></i> Edit
          </button>
          <button
            type="button" class="btn btn-light btn-sm"
            (click)="editCodelet(codelet)"
            title="Delete bookmark">
            <i class="far fa-trash-alt"></i> Delete
          </button>
        </div>
      </div>
    </div>

  </div>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-lg btn-primary mt-2 mb-2" *ngIf="popup" (click)="closeDialog()">Close Window <i class="fas fa-window-close"></i></button>
      </div>
    </div>
  </div>

</div>
