<div id="about-content" class="jumbotron">
  <h2>Bookmarklets</h2>
  <p class="lead">
    <a href="https://en.wikipedia.org/wiki/Bookmarklet" target="_blank"> Bookmarklets <sup class="external-link-hint"><i
      class="fas fa-external-link-alt"></i></sup></a>
    are little javascript links that live in the bookmarks toolbar of your browser. Drag <i class="fas fas fa-arrows-alt ml-1"></i> one of the bookmarklet links bellow to your
    browser's bookmarks to easily save links and code snippets when clicked.
  </p>
  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Bookmarks</span>
      </ng-template>
      <ng-template matTabContent>
        <ul class="mt-3">
          <li>
            <app-add-bookmark-bookmarklet [withWindowDialog]="true"></app-add-bookmark-bookmarklet>
            - when clicked a popup to save the current URL is displayed [<em>recommended for
            <strong>desktops</strong> and <strong>notebooks</strong> with good resolution</em>]
          </li>
          <li class="mt-2">
            <app-add-bookmark-bookmarklet [withWindowDialog]="false"></app-add-bookmark-bookmarklet>
            - when clicked it redirects you to the <a href="{{environment.HOST}}/personal/new">New
            Bookmark</a> form.
            Once added, you go back to the initial page [<em>recommended for <strong>phones</strong> or smaller
            resolution devices</em>]
          </li>
        </ul>
        <div class="image-container">
          <img src="https://i.ibb.co/fNxb7qh/gif-save-bookmark-via-bookmarklet-900-from-video-optimized.gif" alt="Save bookmark via bookmarklet" border="0">
        </div>
        <p class="note_normal mt-2">You can also <strong>select the text on page</strong> that you want to be added to the
          <strong>description</strong> of the bookmark before you click the bookmarklet (this will have priority over the
        value from <strong>meta:description</strong> value which is used by default</p>

        <p class="mt-4 mb-3">You can find a more detailed explanation, <strong>with voice</strong>, in the following video:</p>
        <div class="image-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/CM_Udt4lfT4" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>

        <p class="alert-info p-2 m-2">
          You can also use the <a
          href="https://chrome.google.com/webstore/detail/save-url-to-bookmarksdev/diofdblfhjbpgackifolmboaiccmebjb">
          <i class="fab fa-chrome"></i> Save to Bookmarks.dev</a>
          extension for Chromium based browsers. It provides the same behaviour as the bookmarklet.
        </p>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Snippets</span>
      </ng-template>
      <ng-template matTabContent>
        <ul class="mt-3">
          <li>
            <app-add-codelet-bookmarklet [withWindowDialog]="true"></app-add-codelet-bookmarklet>
            - when clicked a popup to save the current URL is displayed [<em>recommended for
            <strong>desktops</strong> and <strong>notebooks</strong> with good resolution</em>]
          </li>
          <li class="mt-2">
            <app-add-codelet-bookmarklet [withWindowDialog]="false"></app-add-codelet-bookmarklet> - when clicked it redirects you to the <a href="{{environment.HOST}}/my-snippets/new">New Snippet
            Form</a> in the same window.

            Once added, you go back to the initial page [<em>recommended for <strong>phones</strong> or smaller
            resolution devices</em>]
          </li>
        </ul>

        <div class="image-container">
          <img class="mt-2 img-fluid" src="https://i.ibb.co/gD7DMKY/save-code-snippet-via-bookmarklet-900.gif"
               alt="How to save and search a snippet"/>
        </div>

        <p class="alert-danger p-2 m-2">You need to select the code snippet from the page you are
          surfing on. This will be "pasted" in the <a href="{{environment.HOST}}/my-snippets/new">New Snippet Form</a>
        </p>

        <p class="mt-4 mb-3">A more detailed explanation <strong>with voice</strong> you can find in the following video:</p>
        <div class="image-container">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/buHPMBwD_9c" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>


      </ng-template>
    </mat-tab>
  </mat-tab-group>

</div>

