<div id="about-content" class="jumbotron">
  <h2 class="display-4">Bookmarking for Developers & Co</h2>
  <p class="lead">Bookmarks.dev is a bookmark manager created and designed primarily for developers and people who work
    in the information industry. We are also building the ultimate curated list of dev resources at <a
      href="https://github.com/CodepediaOrg/bookmarks#readme">https://github.com/CodepediaOrg/bookmarks</a>.
    You can help by making worthy bookmarks <strong>public</strong> and rating existing ones. Check our <a
      href="{{environment.HOST}}/howto">HowTo</a>
    page to get you started.
  <p>
    Bookmarking and managing bookmarks is made easy with the help of:
  <ul>
    <li><strong>Bookmarklets</strong> - drag one of the links below to your browser toolbar</li>
    <ul>
      <li>
        <a
          class="bookmarklet"
          href="javascript:(function(){let l=location.href;if(document.getSelection){d=document.getSelection()}else{d=''};let t=document.title;let w,h;if(innerWidth>1500){w=1210}else{w=(innerWidth*80)/100}if(innerHeight>1500){h=1210}else{h=(innerHeight*90)/100};let features=`toolbar=no,width=${w},height=${h},top=0,left=0`;open('https://www.bookmarks.dev/personal/new?url='+encodeURIComponent(l)+'&desc='+encodeURIComponent(d)+'&title='+encodeURIComponent(t)+'&popup=true','Bookmarks.dev',features);})();">
          <i class="fas fa-bookmark"></i> +Bookmarks.dev - popup
        </a> - when clicked a popup to save the current URL is displayed [<em>recommended for <strong>desktops</strong>
        and notebooks with good resolution</em>]
      </li>
      <li>
        <a
          href="javascript:(function(){q=location.href;if(document.getSelection){d=document.getSelection();}else{d='';};t=document.title;location.href='https://www.bookmarks.dev/personal/new?url='+encodeURIComponent(q)+'&desc='+encodeURIComponent(d)+'&title='+encodeURIComponent(t)})();">
          <i class="fas fa-bookmark"></i> +Bookmarks.dev - go back
        </a> - when clicked it redirects you to the <a href="https://www.bookmarks.dev/personal/new">New
        Bookmark</a> form.
        Once added you come back to the initial page [<em>recommended for <strong>phones</strong> or smaller resolution
        devices</em>]
      </li>
    </ul>
    <li>Use the <a
      href="https://chrome.google.com/webstore/detail/save-url-to-bookmarksdev/diofdblfhjbpgackifolmboaiccmebjb"><i
      class="fab fa-chrome"></i> Save to bookmarks.dev</a> chrome extension for Chromium based browsers - same behaviour
      as the first bookmarklet
    </li>
    <li><a href="https://www.bookmarks.dev/?tab=read-later"><i class="fas fa-clock"></i> Read Later</a> - list of
      bookmarks to read later
    </li>
    <li><a href="https://www.bookmarks.dev/?tab=pinned"><i class="fas fa-thumbtack"></i> Pinned</a> - pin the bookmarks
      you intensively use currently
    </li>
    <li><a href="https://www.bookmarks.dev/?tab=favorites"><i class="fas fa-star"></i> Favorites</a> - add public
      bookmarks to favorites to find them in your personal searches
    </li>
    <li><strong>Save searches</strong> to use later for easier pin pointing known bookmarks</li>
  </ul>

  <p>You can also choose only to browse our public repository of bookmarks. There are lots of good and curated resources
    from <a href="https://www.bookmarks.dev/?q=%5Bfree-programming-books%5D&sd=public&tab=search-results">free
      programming books</a>,
    to <a href="https://www.bookmarks.dev/?q=%5Bblog%5D&sd=public&tab=search-results">tech blogs</a> covering most
    programming language and
    <a href="https://www.bookmarks.dev/?q=%5Bpodcast%5D&sd=public&tab=search-results">dev podcasts</a></p>

  <div class="bookmarks-context">
    <img src="./assets/bookmarks-dev-context.png" alt="Bookmarks.dev Context Diagram" style="align-content: center;"/>
  </div>
</div>

