  <div id="about-content" class="jumbotron">
    <h2 class="display-4">Bookmarks manager for developers & co</h2>
    <p class="lead">Create a personal list and easily manage your dev bookmarks with custom and rapid search, read later and custom tags</p>
    <p>
      Share worthy bookmarks (mark as public) and they will be published on Github
      at <a target="_blank" href="https://github.com/Codingpedia/bookmarks" role="button">https://github.com/Codingpedia/bookmarks</a> <!-- Place this tag where you want the button to render. -->
      <!-- Place this tag where you want the button to render. -->

      <div class="bookmarks-context">
          <img src="./assets/bookmarks-dev-context.png" alt="Bookmarks.dev Context Diagram" style="align-content: center;"/>
      </div>
  </div>

