
<div class="mt-3 p-1">
<mat-accordion multi="true">
  <mat-expansion-panel  expanded="true">
    <mat-expansion-panel-header>
      <h4><i class="fas fa-xs fa-save mr-1"></i> <i class="fa fa-xs fa-search"></i> My Bookmarks</h4>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <hr class="mt-0">
      <div *ngIf="(userData$ | async)">
        <span *ngFor="let mySearch of (userData$ | async).searches" class="my-saved-search">
            <a *ngIf="mySearch.searchDomain === 'my-bookmarks' || !mySearch.searchDomain"
               [routerLink]="['/search']"
               [queryParams]="{q: mySearch.text, sd: 'my-bookmarks' }"
               class="badge badge-secondary">
          {{mySearch.text}} <span class="badge badge-light">{{mySearch.count}}</span>
            </a>
        </span>
        <div class="clear"></div>
      </div>
    </ng-template>
  </mat-expansion-panel>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h4><i class="fas fa-xs fa-save mr-1"></i> <i class="fa fa-xs fa-search"></i> Public Bookmarks</h4>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      <hr class="mt-0">
      <div *ngIf="(userData$ | async)">
        <span *ngFor="let mySearch of (userData$ | async).searches" class="my-saved-search">
            <a *ngIf="mySearch.searchDomain === 'public-bookmarks'"
               [routerLink]="['/search']"
               [queryParams]="{q: mySearch.text, sd: 'public-bookmarks' }"
               class="badge badge-secondary">
              {{mySearch.text}} <span class="badge badge-light">{{mySearch.count}}</span>
            </a>
        </span>
        <div class="clear"></div>
      </div>
    </ng-template>
  </mat-expansion-panel>

  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <h4><i class="fas fa-xs fa-save mr-1"></i> <i class="fa fa-xs fa-search"></i> My Codelets</h4>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <hr class="mt-0">
      <div *ngIf="(userData$ | async)">
        <span *ngFor="let mySearch of (userData$ | async).searches" class="my-saved-search">
            <a *ngIf="mySearch.searchDomain === 'my-codelets'"
               [routerLink]="['/search']"
               [queryParams]="{q: mySearch.text, sd: 'my-codelets' }"
               class="badge badge-secondary">
          {{mySearch.text}} <span class="badge badge-light">{{mySearch.count}}</span>
            </a>
        </span>

        <div class="clear"></div>
      </div>
    </ng-template>
  </mat-expansion-panel>

</mat-accordion>
</div>


<h4 class="text-danger mt-5" style="margin-top: 1rem">Danger zone</h4>
<div class="border border-danger rounded-lg" style="padding: 1rem">
  <h4>Delete <strong>saved search</strong></h4>
  <div class="input-group search-component">
    <div class="input-group-prepend">
      <span class="input-group-text">
        <i class="fa fa-search"></i>
      </span>
      <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown"
              aria-haspopup="true" aria-expanded="false">
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" role="button"
           title="Search in personal bookmarks"
           (click)="onSearchDomainChange('my-bookmarks')">
          <i class="fas fa-xs fa-save mr-1"></i> <i class="fa fa-xs fa-search"></i> My Bookmarks <i *ngIf="searchDomain === 'my-bookmarks'" class="fas fa-check"></i>
        </a>
        <a class="dropdown-item" role="button"
           title="Search in public bookmarks"
           (click)="onSearchDomainChange('public-bookmarks')">
          <i class="fas fa-xs fa-save mr-1"></i> <i class="fa fa-xs fa-search"></i> Public Bookmarks <i *ngIf="searchDomain === 'public-bookmarks'"
                                                           class="fas fa-check"></i>
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" role="button"
           title="Search in my codelets"
           (click)="onSearchDomainChange('my-codelets')">
          <i class="fas fa-xs fa-save mr-1"></i> <i class="fa fa-xs fa-search"></i> My Codelets <i *ngIf="searchDomain === 'my-codelets'" class="fas fa-check"></i>
        </a>
      </div>
    </div>
    <input
      #tagSearchBox
      type="text"
      class="form-control"
      [formControl]="selectSavedSearchControl"
      placeholder="Start typing to select saved search for {{searchDomainToViewValue(searchDomain)}}"
      [matAutocomplete]="auto"
    >
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let search of filteredSearches | async" [value]="search.text">{{search.text}}</mat-option>
    </mat-autocomplete>
    <div class="input-group-append">
      <button class="btn btn-outline-danger"
              type="button"
              (click)="openDeleteDialog(tagSearchBox.value)"
              [disabled]="!buttonEnabled"
      >Delete <strong>saved search</strong>
      </button>
    </div>
  </div>
</div>


