<div *ngIf="(bookmark$ | async) as bookmark">
  <app-bookmark-list-element
    [bookmark]="bookmark"
    [userData$]="userData$"
    [isDetailsPage]="true"
    [showMoreText]="popup ? false : true">
  </app-bookmark-list-element>

  <div class="container">
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-lg btn-primary mt-2 mb-2" *ngIf="popup" (click)="closeDialog()">Close Window <i
          class="fas fa-window-close"></i></button>
      </div>
    </div>
  </div>
</div>
