<div *ngFor="let bookmark of bookmarks | async" class="card">
  <div class="card-block">
    <h4 class="card-title"><a href="{{bookmark.location}}" target="_blank">{{ bookmark.name }}</a></h4>
    <p class="list-group-item-text url-under-title">{{ bookmark.location }}</p>
    <p *ngIf="!bookmark.descriptionHtml" class="card-text">{{ bookmark.description }}</p>
    <div *ngIf="bookmark.descriptionHtml" [innerHtml]="bookmark.descriptionHtml"></div>
    <button type="button" class="btn btn-primary btn-sm" (click)="gotoDetail(bookmark)">Edit</button>
    <button type="button" class="btn btn-danger btn-sm" (click)="deleteBookmark(bookmark)">Delete</button>
  </div>
  <div class="card-footer">
    <div class="tags-group">
      <span *ngIf="bookmark.publishedOn" class="tag tag-pill  tag-info float-xs-left">{{bookmark.publishedOn | date:"yyyy-MM-dd"}}</span>
      <span *ngIf="bookmark.githubURL" class="tag tag-pill  tag-primary float-xs-left"><a href="{{bookmark.githubURL}}" target="_blank">GitHub URL</a></span>
      <span *ngFor="let tag of bookmark.tags" class="tag tag-default tag-pill float-xs-left">{{tag}} </span>
    </div>
  </div>
</div>
