<div id="howto-snippets-content" class="jumbotron">
  <h2>Code snippets <i class="fa fa-code"></i></h2>
  <p class="lead"><strong>Code snippets</strong> are special types of bookmarks where you save one or more small pieces
    of code
    in the same record.
  </p>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fas fa-save"></i> Save snippets</span>
      </ng-template>
      <ng-template matTabContent>
        <div style="display: flex; align-items: center" class="mt-3 mb-2 alert-info p-2">
          <div style="font-size: 1.2rem">
            You can use the <strong><i class="fa fa-code"></i> Code snippet</strong> option in right side of the menu bar
          </div>
          <div class="dropdown mt-1 ml-2">
            <button class="btn btn-sm btn-dark dropdown-toggle" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-lg fa-plus"></i>
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" routerLink="/my-bookmarks/new"><i class="fa fa-bookmark"></i> Bookmark</a>
              <a class="dropdown-item" routerLink="/my-snippets/new"><i class="fa fa-code"></i> Code snippet</a>
            </div>
          </div>
        </div>
        <p class="lead">or, for an easier experience use one of the following:</p>

        <mat-tab-group>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="app-tab-label">Browser Extension</span>
            </ng-template>
            <ng-template matTabContent>
              <div class="mt-2">
                <p>You can use the same browser extension as for saving bookmarks, but you must select the text
                  on web page before triggering the extension :</p>
                <table>
                  <thead>
                  <tr>
                    <th align="center"><a
                      href="https://chrome.google.com/webstore/detail/codever/diofdblfhjbpgackifolmboaiccmebjb"
                      rel="nofollow"><img src="./assets/img/chrome-48.png" alt="Chrome" style="max-width:100%;"></a>
                    </th>
                    <th align="center"><a
                      href="https://addons.mozilla.org/addon/codever/"
                      rel="nofollow"><img src="./assets/img/firefox-48.png" alt="Chrome" style="max-width:100%;"></a>
                    </th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td align="center"><a
                      href="https://chrome.google.com/webstore/detail/codever/diofdblfhjbpgackifolmboaiccmebjb"
                      rel="nofollow">Chrome</a></td>
                    <td align="center" class="ml-2"><a
                      href="https://addons.mozilla.org/addon/codever/"
                      rel="nofollow">Firefox</a></td>
                  </tr>
                  </tbody>
                </table>
                <div class="image-container mt-2">
                  <img class="mt-2 img-fluid"
                       src="./assets/img/gif/codever-browser-extension-save-snippet-800x454.gif"
                       alt="How to save snippet viw browser extension"/>
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="app-tab-label">Bookmarklet</span>
            </ng-template>
            <ng-template matTabContent>
              <div class="mt-3">
                <ul class="mt-3">
                  <li>
                    <app-codever-bookmarklet [withWindowDialog]="true"></app-codever-bookmarklet>
                    - when clicked a popup to save the current URL is displayed [<em>recommended for
                    <strong>desktops</strong> and <strong>notebooks</strong> with good resolution</em>]
                  </li>
                  <li class="mt-2">
                    <app-codever-bookmarklet [withWindowDialog]="false"></app-codever-bookmarklet>
                    - when clicked it redirects you to the <a href="{{environment.HOST}}/my-bookmarks/new">New
                    Bookmark</a> form.
                    Once added, you go back to the initial page [<em>recommended for <strong>phones</strong> or smaller
                    resolution devices</em>]
                  </li>
                </ul>

                <p class="alert alert-warning mb-2"><i class="fas fa-exclamation-circle"></i> You must make a <strong> text
                  selection </strong> on the page,
                  to use it as as <strong>code</strong>
                  and choose to create a <strong>new snippet</strong> when triggering the bookmarklet link.

                </p>

                <div class="mb-2 mt-5">
                  <h3>Save snippet via bookmarklet demo</h3>
                </div>
                <div class="image-container">
                  <img src="assets/img/gif/codever-bookmarklet-save-snippet-800x454.gif" alt="Save snippet via bookmarklet"
                       border="0">
                </div>
              </div>
            </ng-template>
          </mat-tab>
          <mat-tab>
            <ng-template mat-tab-label>
              <span class="app-tab-label">IntelliJ Plugin</span>
            </ng-template>
            <ng-template matTabContent>
              <div class="mt-3">
                If you use the IntelliJ Products use our -
                <a
                  href="https://plugins.jetbrains.com/plugin/14456-save-to-bookmarks-dev"
                  target="_blank"
                  title="Plugin to save code snippets from IntelliJ">
                  Save to Codever plugin
                  <sup class="external-link-hint">
                    <i class="fas fa-external-link-alt" style="font-size: smaller"></i>
                  </sup>
                </a>
                <h3 class="mt-2">Save snippet</h3>
                <img class="mt-2 mb-2 img-fluid" src="./assets/img/gif/intellij-plugin-showcase-save-shorter-cover-800x456.gif"
                     alt="How to save snippet with IntelliJ plugin"/>

                <h3 class="mt-2">Search snippet</h3>
                <img class="mt-2 img-fluid" src="./assets/img/gif/intellij-plugin-showcase-search-800x456.gif"
                     alt="How to save snippet with IntelliJ plugin"/>
              </div>
            </ng-template>
          </mat-tab>
        </mat-tab-group>

        <div class="mt-5 lead alert alert-danger mb-2">
          Please <strong>DO NOT</strong> store passwords or any sensitive information in your code snippets
        </div>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fa fa-search"></i> Search snippets</span>
      </ng-template>
      <ng-template matTabContent>
        <div class="mt-4">
          <p class="lead">
            Searching code snippets works the same as searching regular bookmarks. Just select the <strong>My
            Snippets</strong>
            option in the search bar:
          </p>
          <img class="mt-2 img-fluid" src="./assets/img/gif/codever-search-my-snippets-800x454.gif"
               alt="How to save and search code snippets"/>

          <div class="alert-info p-2 mt-2">
            <i class="fas fa-info-circle mr-1"></i> You can save searches permanently to reuse later the same way as for regular bookmarks.
          </div>

          <div class="alert-info p-2 mt-2">
            <i class="fas fa-info-circle mr-1"></i> You can configure the search in an AlfredApp custom query, or similar, with
            the following - <code
            [innerHTML]="'https://www.codever.land/search?q={query}&sd=my-snippets'"></code>
          </div>
        </div>
      </ng-template>
    </mat-tab>
  </mat-tab-group>

  <hr>


</div>

