<div id="public-search-box">

  <app-bookmark-search [context]="'Public'" [userData$]="userData$" (searchTriggered)="onSearchTriggered($event)"
                       (searchTextCleared)="onClearSearchText($event)"></app-bookmark-search>

  <mat-tab-group (selectedTabChange)="tabSelectionChanged($event)" [selectedIndex]="selectedIndex">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fas fa-share-alt"></i> Community</span>
      </ng-template>
      <app-async-bookmark-list [bookmarks]="publicBookmarks$" [shownSize]="counter"
                               [userData$]="userData$"></app-async-bookmark-list>
      <div *ngIf="(publicBookmarks$ | async)?.size - counter > 0">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showMoreResults()"
                [disabled]="counter >= (publicBookmarks$ | async)?.length">Show more
        </button>
        <hr/>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fas fa-history"></i> History</span>
      </ng-template>
      <div *ngIf="!(userIsLoggedIn$ | async); else isLoggedInLastVisited"
           class="missing-category-bookmarks-message alert alert-info">
        <p>In <strong>History</strong> you have a list of your last visited, created or updated bookmarks.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login('history')">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInLastVisited>
        <div *ngIf="(history$ | async)?.length === 0" class="missing-category-bookmarks-message alert alert-info">
          <p>
            In <strong>History</strong> you have a list of your last visited, created or updated bookmarks.
          </p>
        </div>
          <app-async-bookmark-list [bookmarks]="history$" [shownSize]="30"
                                   [userData$]="userData$"></app-async-bookmark-list>

      </ng-template>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fas fa-thumbtack"></i> Pinned</span>
      </ng-template>
      <div *ngIf="!(userIsLoggedIn$ | async); else isLoggedInToPin" class="missing-category-bookmarks-message alert alert-info">
        <p>
          Got some bookmarks you will use a lot today? Just pin them <i
          class="fas fa-thumbtack"></i>
          and they will appear in the <strong>Pinned</strong> list.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login('pinned')">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInToPin>
        <div *ngIf="(pinned$ | async)?.length === 0" class="missing-category-bookmarks-message alert alert-info">
          Got some bookmarks you will use a lot today? Just pin it <i
          class="fas fa-thumbtack"></i>
          and it will appear in the <strong>Pinned</strong> list.
        </div>
        <app-async-bookmark-list [bookmarks]="pinned$" [shownSize]="30" [userData$]="userData$"></app-async-bookmark-list>
      </ng-template>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fas fa-clock"></i> Read Later</span>
      </ng-template>
      <div *ngIf="!(userIsLoggedIn$ | async); else isLoggedInToReadLater"
           class="missing-category-bookmarks-message alert alert-info">
        <p>
          Found an interesting link you'll like to read, but don't have time at the moment? Click on the <i
          class="fas fa-clock"></i>
          on the bookmark's upper right corner and it will be added to this <strong>Read Later</strong> list.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login('read-later')">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInToReadLater>
        <div *ngIf="(laterReads$ | async)?.length === 0" class="missing-category-bookmarks-message alert alert-info">
          Found an interesting link you'll like to read, but don't have time at the moment? Click on the <i
          class="fas fa-clock"></i>
          on the bookmark's upper right corner and it will be added to this <strong>Read Later</strong> list.
        </div>
        <app-async-bookmark-list [bookmarks]="laterReads$" [shownSize]="30"
                                 [userData$]="userData$"></app-async-bookmark-list>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fas fa-star"></i> Favorites</span>
      </ng-template>
      <div *ngIf="!(userIsLoggedIn$ | async); else isLoggedInToFavorite"
           class="missing-category-bookmarks-message alert alert-info">
        <p>
          Found a public bookmark you might use - add it to Favorites <i class="fas fa-star"></i> and it will be used
          in your personal searches.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login('favorites')">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInToFavorite>
        <div *ngIf="(favorites$ | async)?.length === 0" class="missing-category-bookmarks-message alert alert-info">
          Found a public bookmark you might use - add it to Favorites <i class="fas fa-star"></i> and it will be used
          in your personal searches.
        </div>
        <app-async-bookmark-list [bookmarks]="favorites$" [shownSize]="30"
                                 [userData$]="userData$"></app-async-bookmark-list>
      </ng-template>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fas fa-eye"></i> Watched tags</span>
      </ng-template>
      <div *ngIf="!(userIsLoggedIn$ | async); else isLoggedInToWatchTags"
           class="missing-category-bookmarks-message alert alert-info">
        <p>
          You have the possibility to watch <strong>public</strong> tags, by clicking the
          <button type="button" class="btn btn-outline-primary btn-sm" routerLink="/tagged/python"><i
            class="fas fa-eye"></i>
            Watch tag
          </button>
          button
          on the tag's page. Then you will see here the latest entries for the tags you watch.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login('watched-tags')">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInToWatchTags>
        <div *ngIf="(userData$ | async)?.watchedTags.length === 0" class="missing-category-bookmarks-message alert alert-info">
          You have the possibility to watch <strong>public</strong> tags, by clicking the
          <button type="button" class="btn btn-outline-primary btn-sm" routerLink="/tagged/python"><i
            class="fas fa-eye"></i>
            Watch tag
          </button>
          button
          on the tag's page. Then you will see here the latest entries for the tags you watch.
        </div>
        <div *ngIf="(userData$ | async)" class="personal-followed-tags">
          <a *ngFor="let tag of (userData$ | async).watchedTags.sort()" [routerLink]="['/tagged', tag]" class="badge badge-secondary">
            {{tag}}
          </a>
          <div class="clear"></div>
        </div>
        <app-async-bookmark-list [bookmarks]="bookmarksForWatchedTags$" [shownSize]="50"
                                 [userData$]="userData$"></app-async-bookmark-list>
      </ng-template>
    </mat-tab>
    <mat-tab *ngIf="searchComponent.showSearchResults">
      <ng-template mat-tab-label>
        <span class="app-tab-label"><i class="fas fa-search"></i> Results</span>
      </ng-template>
      <div *ngIf="(searchComponent.searchResults$ | async)?.length === 0" class="alert alert-info no-search-results" role="alert">
        No <strong>{{searchComponent.searchDomain}}</strong> bookmarks found for "<em>{{searchComponent.searchText}}</em>".
        Please try a different search or
        <button *ngIf="searchComponent.searchDomain === 'personal'; else oppositeSearchDomain" type="button"
                class="btn btn-outline-primary btn-sm" (click)="searchComponent.onSearchDomainChange('public')">
          <i class="fa fa-search"></i> public bookmarks
        </button>
        <ng-template #oppositeSearchDomain>
          <button type="button" class="btn btn-outline-primary btn-sm" (click)="searchComponent.onSearchDomainChange('personal')">
            <i class="fa fa-search"></i> personal bookmarks
          </button>

        </ng-template>
      </div>
      <div *ngIf="(searchComponent.searchResults$ | async)?.length > 0">
        <app-async-bookmark-list [bookmarks]="searchComponent.searchResults$" [queryText]="searchComponent.searchText"
                                 [shownSize]="searchComponent.counter" [userData$]="userData$"
                                 (bookmarkDeleted)="searchComponent.onBookmarkDeleted($event)"></app-async-bookmark-list>

        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="searchComponent.onShowMoreResults()"
                [disabled]="searchComponent.counter > (searchComponent.searchResults$ | async)?.length">Show more
        </button>
        <hr/>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
