<button type="button" class="btn btn-primary" routerLink="/personal" style="margin-top: 1rem"> <i class="fa fa-bookmark"></i> Manage personal bookmarks</button>
<div id="public-search-box">

  <app-public-bookmark-search [query]="query" [context]="'Public'" [userData]="userData"></app-public-bookmark-search>

  <mat-tab-group>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Recent &nbsp;<i class="fas fa-clock"></i></span>
      </ng-template>
      <app-async-bookmark-list [bookmarks]="publicBookmarks$" [shownSize]="counter" [userData]="userData"></app-async-bookmark-list>
      <div *ngIf="(publicBookmarks$ | async)?.size - counter > 0" >
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showMoreResults()" [disabled]="counter >= (publicBookmarks$ | async)?.length">Show more</button>
        <hr/>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Tags &nbsp;<i class="fas fa-tags"></i></span>
      </ng-template>
      <div class="tags-group">
        <span *ngFor="let tag of tags" class="badge badge-secondary float-xs-left" (click)="onTagClick(tag)" style="cursor: pointer">{{tag}}</span>
        <div class="clear"></div>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
