<div id="public-search-box">

  <app-public-bookmark-search [context]="'Public'" [userData]="userData"></app-public-bookmark-search>

  <mat-tab-group (selectedTabChange)="tabSelectionChanged($event)">
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Community &nbsp;<i class="fas fa-share-alt"></i></span>
      </ng-template>
      <app-async-bookmark-list [bookmarks]="publicBookmarks$" [shownSize]="counter"
                               [userData]="userData"></app-async-bookmark-list>
      <div *ngIf="(publicBookmarks$ | async)?.size - counter > 0">
        <button type="button" class="btn btn-primary btn-lg btn-block" (click)="showMoreResults()"
                [disabled]="counter >= (publicBookmarks$ | async)?.length">Show more
        </button>
        <hr/>
      </div>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">History  &nbsp;<i class="fas fa-history"></i></span>
      </ng-template>
      <div *ngIf="!userIsLoggedIn; else isLoggedInLastVisited"
           class="missing-category-bookmarks-message alert alert-info">
        <p>In <strong>History</strong> you have a list of your last visited bookmarks.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login()">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInLastVisited>
        <div *ngIf="(history$ | async)?.length === 0" class="missing-category-bookmarks-message alert alert-info">
          <p>
            In <strong>History</strong> you have a list of your last visited bookmarks.
          </p>
        </div>
        <app-async-bookmark-list [bookmarks]="history$" [shownSize]="30"
                                 [userData]="userData"></app-async-bookmark-list>
      </ng-template>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Pinned  &nbsp;<i class="fas fa-thumbtack"></i></span>
      </ng-template>
      <div *ngIf="!userIsLoggedIn; else isLoggedInToPin" class="missing-category-bookmarks-message alert alert-info">
        <p>
          Got some bookmarks you will use a lot today? Just pin it <i
          class="fas fa-thumbtack"></i>
          and it will appear in the <strong>Pinned</strong> list.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login()">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInToPin>
        <div *ngIf="(pinned$ | async)?.length === 0" class="missing-category-bookmarks-message alert alert-info">
          Got some bookmarks you will use a lot today? Just pin it <i
          class="fas fa-thumbtack"></i>
          and it will appear in the <strong>Pinned</strong> list.
        </div>
        <app-async-bookmark-list [bookmarks]="pinned$" [shownSize]="30" [userData]="userData"></app-async-bookmark-list>
      </ng-template>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Read Later  &nbsp;<i class="fas fa-clock"></i></span>
      </ng-template>
      <div *ngIf="!userIsLoggedIn; else isLoggedInToReadLater"
           class="missing-category-bookmarks-message alert alert-info">
        <p>
          Found an interesting link you'll like to read, but don't have time at the moment? Click on the <i
          class="fas fa-clock"></i>
          on the bookmark's upper right corner and it will be added to this <strong>Read Later</strong> list.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login()">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInToReadLater>
        <div *ngIf="(laterReads$ | async)?.length === 0" class="missing-category-bookmarks-message alert alert-info">
          Found an interesting link you'll like to read, but don't have time at the moment? Click on the <i
          class="fas fa-clock"></i>
          on the bookmark's upper right corner and it will be added to this <strong>Read Later</strong> list.
        </div>
        <app-async-bookmark-list [bookmarks]="laterReads$" [shownSize]="30"
                                 [userData]="userData"></app-async-bookmark-list>
      </ng-template>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Starred  &nbsp;<i class="fas fa-star"></i></span>
      </ng-template>
      <div *ngIf="!userIsLoggedIn; else isLoggedInToStar"
           class="missing-category-bookmarks-message alert alert-info">
        <p>
          Found a public bookmark you like - give it <i class="fas fa-star"></i> a star to promote it
          and be listed here with other starred bookmarks.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login()">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInToStar>
        <div *ngIf="(starredBookmarks$ | async)?.length === 0" class="missing-category-bookmarks-message alert alert-info">
          Found a public bookmark you like - give it <i class="fas fa-star"></i> a star to promote it
          and be listed here with other starred bookmarks.
        </div>
        <app-async-bookmark-list [bookmarks]="starredBookmarks$" [shownSize]="30"
                                 [userData]="userData"></app-async-bookmark-list>
      </ng-template>

    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <span class="app-tab-label">Watched tags  &nbsp;<i class="fas fa-eye"></i></span>
      </ng-template>
      <div *ngIf="!userIsLoggedIn; else isLoggedInToWatchTags"
           class="missing-category-bookmarks-message alert alert-info">
        <p>
          You have the possibility to watch <strong>public</strong> tags, by clicking the
          <button type="button" class="btn btn-outline-primary btn-sm" routerLink="/tagged/python"><i
            class="fas fa-eye"></i>
            Watch tag
          </button>
          button
          on the tag's page. Then you will see here the latest entries for the tags you watch.
        </p>
        You need to
        <button type="button" class="btn btn-primary btn-sm" (click)="login()">Login / Register</button>
        to access this functionality.
      </div>
      <ng-template #isLoggedInToWatchTags>
        <div *ngIf="userData?.watchedTags.length === 0" class="missing-category-bookmarks-message alert alert-info">
          You have the possibility to watch <strong>public</strong> tags, by clicking the
          <button type="button" class="btn btn-outline-primary btn-sm" routerLink="/tagged/python"><i
            class="fas fa-eye"></i>
            Watch tag
          </button>
          button
          on the tag's page. Then you will see here the latest entries for the tags you watch.
        </div>
        <div *ngIf="userData" class="personal-followed-tags">
          <a *ngFor="let tag of userData.watchedTags" [routerLink]="['/tagged', tag]" class="badge badge-secondary"
             target="_blank">{{tag}}</a>
          <div class="clear"></div>
        </div>
        <app-async-bookmark-list [bookmarks]="bookmarksForWatchedTags$" [shownSize]="50"
                                 [userData]="userData"></app-async-bookmark-list>
      </ng-template>
    </mat-tab>

  </mat-tab-group>
</div>
