<div *ngIf="(bookmarks$ | async) as bookmarks" class="mt-2">
  <div class="mt-1" *ngFor="let bookmark of bookmarks">
    <app-bookmark-list-element
      [bookmark]="bookmark"
      [userData$]="userData$"
      [queryText]="queryText"
    >
    </app-bookmark-list-element>
  </div>

  <nav *ngIf="showPagination && bookmarks" aria-label="Pagination navigation bar">
    <div *ngIf="currentPage !== 1 && bookmarks.length === 0; else showPaginationBar"
         class="tabs-headline-message alert alert-info"
         style="margin-top: 2rem; font-size: 1.2rem">
      No bookmarks left for the selected criteria - go back to
      <button type="button" class="btn btn-primary btn-sm" (click)="navigate(currentPage-1)">Previous</button>
      pages.
    </div>
    <ng-template #showPaginationBar>
      <ul class="pagination justify-content-center" style="cursor: pointer;">
        <li class="page-item">
          <span class="page-link" (click)="navigate(currentPage - 1)"
                [ngClass]="{'isDisabled': currentPage === 1}">Previous</span>
        </li>
        <li *ngFor="let page of Arr.from(Arr(currentPage).keys());  let i = index;" class="page-item"
            [ngClass]="{'active': currentPage === page + 1}">
          <span class="page-link" (click)="navigate(page + 1)">{{page + 1}}</span>
        </li>
        <li class="page-item">
          <span class="page-link" (click)="navigate(currentPage + 1)">Next</span>
        </li>
      </ul>
    </ng-template>
  </nav>
</div>




