<h2 class="mb-3">Import bookmarks <i class="fas fa-file-upload"></i></h2>

<div class="custom-file">
  <input #imageInput
         type="file"
         accept="text/html"
         class="form-control"
         id="bookmarksFile"
         (change)="uploadBookmarks(imageInput)">
  <label class="custom-file-label" style="cursor: pointer" for="bookmarksFile">{{uploadImageLabel}}</label>
</div>
<div class="alert alert-info mt-5">
  <b><i class="fas fa-info-circle"></i> Note: </b>
  <ul>
    <li>
      See our <b><a title="Get started, save & search bookmarks" target="_blank"
      [routerLink]="['/howto/bookmarks']"> HowTo > Bookmarks (Import tab) <sup><i class="fas fa-external-link-alt" style="font-size: smaller"></i></sup></a></b>
      on how to export the bookmarks from your favorite browser
    </li>
    <li>
      Depending on the <b>size</b> of the bookmarks html file it might take <b>several seconds</b> to process
    </li>
    <li>
      All imported bookmarks are tagged also with <b>imported-browser</b>
    </li>
  </ul>
</div>
